<%
   meta :title => 'Косметология Казань - наши услуги',
        :description => 'Подробный прайс лист на услуги по косметолгии в Казани'

   sections = Section.where('fl_order > 0').order('fl_order')
   count = (sections.count.to_f/3.to_f).ceil
   i = 0
   j = 0
%>
<div class="main col-md-12" id="news">
  <!-- page-title start -->
  <!-- ================ -->
  <h1 class="page-title">Услуги Центра эпиляции и косметологии</h1>
  <div class="separator-2"></div>
  <div class="row">
     <% if params.has_key?(:q)%>
        <div class="col-md-12">
          <%=render :partial => 'services/index/section', :locals => {section: Section.find(1)}%>
          <%=render :partial => 'services/index/section', :locals => {section: Section.find(10)}%>
          <%=render :partial => 'services/index/section', :locals => {section: Section.find(7)}%>
          <%=render :partial => 'services/index/section', :locals => {section: Section.find(8)}%>
          <%=render :partial => 'services/index/section', :locals => {section: Section.find(2)}%>
          <%=render :partial => 'services/index/section', :locals => {section: Section.find(3)}%>
          <%=render :partial => 'services/index/section', :locals => {section: Section.find(4)}%>
          <%=render :partial => 'services/index/section', :locals => {section: Section.find(5)}%>
          <%=render :partial => 'services/index/section', :locals => {section: Section.find(9)}%>
        </div>
     <% else %>
      <div class="col-md-4">
          <%sections.each do |section|%>
          <% if j < 2 && i == count %>
              </div><div class="col-md-4">
              <%
                i = 0;
                j = j + 1
            %>
          <% end %>
          <%=render :partial => 'services/index/section', :locals => {section: section}%>
          <% i = i + 1 %>
          <% end %>
      </div>
     <% end %>
  </div>
</div>
