<%
   meta :title => 'Косметология Казань - наши услуги',
        :description => 'Подробный прайс лист на услуги по косметолгии в Казани'
%>
<div class="main col-md-12" id="news">
  <!-- page-title start -->
  <!-- ================ -->
  <h1 class="page-title">Услуги Центра эпиляции и косметологии</h1>
  <div class="separator-2"></div>
  <div class="row">
      <div class="col-md-4">
          <%=render :partial => 'services/index/section', :locals => {section: Section.find(1)}%>
          <%=render :partial => 'services/index/section', :locals => {section: Section.find(10)}%>
        <%=render :partial => 'services/index/section', :locals => {section: Section.find(7)}%>
        <%=render :partial => 'services/index/section', :locals => {section: Section.find(8)}%>
      </div>
      <div class="col-md-4">
          <%=render :partial => 'services/index/section', :locals => {section: Section.find(2)}%>
        <%=render :partial => 'services/index/section', :locals => {section: Section.find(3)}%>
      </div>
      <div class="col-md-4">
        <%=render :partial => 'services/index/section', :locals => {section: Section.find(4)}%>
        <%=render :partial => 'services/index/section', :locals => {section: Section.find(5)}%>
        <%=render :partial => 'services/index/section', :locals => {section: Section.find(9)}%>
      </div>
  </div>
</div>
