<%
   meta :title => 'Косметология Казань - наши услуги',
        :description => 'Подробный прайс лист на услуги по косметолгии в Казани'
%>
<div class="main col-md-12" id="news">
  <!-- page-title start -->
  <!-- ================ -->
  <h1 class="page-title">Услуги Центра эпиляции и косметологии</h1>
  <div class="separator-2"></div>
  <div class="well">
    Быстрые ссылки:
    <%@sections.each do |section| %>
        <a style="text-decoration: underline" href="#section_<%=section.id%>"><%=section.name%></a> &nbsp;&nbsp;
    <% end %>
  </div>
  <%@sections.each do |section|%>
      <h2 id="section_<%=section.id%>"><%=section.name%></h2>
      <%section.services.where('fl_publish = 1').order('fl_order').each do |service|%>
          <%=render :partial => 'app/shared/service_row', :locals => {service: service}%>
      <% end %>
  <% end %>
</div>
