<%
  meta :title => @service.title,
       :description => @service.description,
       :keywords => @service.keys
%>
<style>
  h2{text-align:center;margin-top:40px}
  .green-block{padding:20px;background-color:#009995;color:#fff}
  .green-block h2{color:#fff;margin-top:0px}
  .green-block .col-md-3{padding: 15px;}
  .green-block .col-md-9{padding: 15px;}
  .green-block .title{font-size: 1.5em}
  .gray-block{background-color: #EAEAE8}
  #promo td{font-size:1.4em;vertical-align:middle}
  .myth{text-align: center;padding: 20px 0px;}
  .myth .name{color: #583E9B;font-size: 1.5em;padding: 10px;}
  .myth .label{color: #009995;font-size: 1.0em; padding: 10px;}
  .review{margin: 20px 0px;}
  .review .col-md-3{text-align: center;}
  .review .col-md-3 .name{text-align: center;font-size: 1.0em;color: #1a7bb9;padding-top: 5px;}
  .review .col-md-9 strong{font-size: 1.2em;color: #1a7bb9}
  #lazer-description strong{color: #573D90}
    .myth .more img {
      cursor: pointer;
    }
    .more-content{
      display: none;
      padding-top: 10px;
      text-align: left;
    }
</style>
<div class="row hidden-xs" style="margin-bottom: 0px; background-image:url('http://www.kosmetologiya-kazan.ru//data/pictures/560/plashka_vnizu.png');background-position: bottom;background-repeat:no-repeat;background-size:contain;">
  <div class="container" style="padding-bottom: 0px;margin-bottom: 0px;">
    <div class="row" style="padding-bottom: 0px;margin-bottom: 0px;">
      <div class="col-md-5 hidden-sm hidden-xs" style="padding-bottom: 0px;margin-bottom: 0px;"><img src="http://www.kosmetologiya-kazan.ru/data/pictures/559/oie_transparent.png" class="img-responsive"></div>
      <div class="col-md-6 col-sm-12 col-xs-12" style="padding-top: 50px; ">
        <h3>Лазерная эпиляция всего тела<br>за <s>13200</s> 5900 руб.</h3>
        <%=render :partial=>'app/order/form'%>
        <div>Зоны эпиляции: подмышечные впадины, бикини, голень.</div>
      </div>
    </div>
  </div>
</div>
<div class="container hidden-xs">
  <div class="row">
    <div class="col-md-12">
      <h2>САМЫЕ ВОСТРЕБОВАННЫЕ ЗОНЫ ДЛЯ ЛАЗЕРНОЙ ЭПИЛЯЦИИ СРЕДИ НАШИХ КЛИЕНТОВ И СТОИМОСТЬ СО СКИДКОЙ И БЕЗ</h2>
      <table class="table" id="quick-prices">
        <tbody>
        <tr>
          <th width="40%">
          </th>
          <th class="text-center" width="20%">
            Цена 1-й процедуры с 50% скидкой
          </th>
          <th class="text-center" width="20%">
            Обычная цена
          </th>
          <th class="text-center" width="20%">
            Цена абонемента на 6 процедур с 40% скидкой *
          </th>
        </tr>
        <tr>
          <td>
            усики
          </td>
          <td class="text-center">
            900
          </td>
          <td class="text-center">
            1800
          </td>
          <td class="text-center">
            1080
          </td>
        </tr>
        <tr>
          <td>
            подмышечные впадины
          </td>
          <td class="text-center">
            1700
          </td>
          <td class="text-center">
            3400
          </td>
          <td class="text-center">
            2040
          </td>
        </tr>
        <tr>
          <td>
            бикини
          </td>
          <td class="text-center">
            2400
          </td>
          <td class="text-center">
            4800
          </td>
          <td class="text-center">
            2880
          </td>
        </tr>
        <tr>
          <td>
            голень
          </td>
          <td class="text-center">
            2500
          </td>
          <td class="text-center">
            5000
          </td>
          <td class="text-center">
            3000
          </td>
        </tr>
        <tr>
          <td>
            ноги полностью
          </td>
          <td class="text-center">
            5400
          </td>
          <td class="text-center">
            10800
          </td>
          <td class="text-center">
            6480
          </td>
        </tr>
        </tbody>
      </table>
      <div style="padding: 20px 0px">* действует только при первом посещение</div>
    </div>
  </div>
</div>
<%=render :partial=>'services/lazer/hr'%>
<div class="container" id="lazer-description">
  <div class="row">
    <div class="col-md-12">
      <h2>ТОЛЬКО У НАС 2 САМЫХ СОВРЕМЕННЫХ<br>ЛАЗЕРНЫХ АППАРАТА В КАЗАНИ</h2>
    </div>
  </div>
  <div class="row" style="margin: 20px;">
    <div class="col-md-6">
      <div class="text-center" style="margin-bottom: 10px;">
          <img src="http://www.kosmetologiya-kazan.ru/data/pictures/531/sloi_19.png.pagespeed.ce.nDwBWQ4nhQ.png" class="img-responsive" pagespeed_url_hash="2530857502">
      </div>
      <p><strong>LightSheer Duet</strong> - новейшее оборудование последнего поколения, получившее сертификат Федеральной службы по надзору в сфере здравоохранения № 20020/13005 от 28.09.2012 и одобрение FDA от 7 апреля 2006 года.</p>
      <ul>
        <li>Диодный лазер LightSheer DUET эффективно работает со всеми цветотипами кожи.</li>
        <li>Встроенная система вакуумного усиления, благодаря чему процедура на аппарате безболезненна.</li>
        <li>Легко удаляются волосы с любых участков кожи.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="text-center" style="margin-bottom: 10px;">
          <img src="http://www.kosmetologiya-kazan.ru/data/pictures/532/sloi_20.png.pagespeed.ce.m7k-ulBd4X.png" class="img-responsive" pagespeed_url_hash="889664169">
      </div>
      <p><strong>Лазер MeDioStar NeXT PRO</strong> - высокомощный, диодный лазер производства немецкой лазерной компании «Asclepion Laser Technologies».</p>
      <ul>
        <li>Встроенная система охлаждения кожи «Пельтье», благодаря чему достигается эффект безболезненности процедуры.</li>
        <li>Удаляются волосы любого цвета, любой толщины, со всех фототипов кожи, на любом участке тела.</li>
      </ul>
    </div>
  </div>
</div>
<div class="row green-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>5 ПРИЧИН СДЕЛАТЬ ЛАЗЕРНУЮ ЭПИЛЯЦИЮ В НАШЕМ ЦЕНТРЕ</h2>
      </div>
      <div class="col-md-3 title">БЕЗБОЛЕЗНЕННО</div>
      <div class="col-md-9">Самые современные аппараты в Казани. Специальная насадка с вакуумной головкой снимает болевые ощущения</div>
      <div class="col-md-3 title">БЕЗОПАСНО</div>
      <div class="col-md-9">Никаких вросших волос, раздражения, ожогов. Профессиональные врачи и бесплатная консультация перед процедурой</div>
      <div class="col-md-3 title">БЫСТРО</div>
      <div class="col-md-9">Длительность процедуры 5-30 минут. Большая насадка позволяет увеличить площадь покрытия и сократить время процедуры в разы</div>
      <div class="col-md-3 title">УДОБНО</div>
      <div class="col-md-9">Гладкая кожа в любое время года. Без реабилитационного периода. Можно проводить процедуру летом и делать на загорелую кожу</div>
      <div class="col-md-3 title">ЭФФЕКТИВНО</div>
      <div class="col-md-9">Избавление от нежелательных волос навсегда. Около 30% волос уходит уже после первой процедуры</div>
    </div>
  </div>
</div>
<div class="container hidden-xs">
  <div class="row">
    <div class="col-md-12">
      <h2>ПОЧЕМУ ЛАЗЕРНАЯ ЭПИЛЯЦИЯ САМАЯ ЭФФЕКТИВНАЯ ПРОЦЕДУРА ДЛЯ ДЛЯ УДАЛЕНИЯ НЕЖЕЛАТЕЛЬНЫХ ВОЛОС НАВСЕГДА?</h2>
      <img src="http://www.kosmetologiya-kazan.ru/data/pictures/533/vektornyi_smart-obekt_2.png.pagespeed.ce.pxDU2OGjLL.png" class="img-responsive" style="background-color: initial; font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 15px;" pagespeed_url_hash="1744144278">
    </div>
  </div>
</div>
<div class="row gray-block" style="margin-top: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <img src="http://www.kosmetologiya-kazan.ru/data/pictures/535/xoie_er0dwo9NtXF9.png.pagespeed.ic.TqzFZk5Q_I.jpg" class="img-responsive" pagespeed_url_hash="1804186609">
      </div>
      <div class="col-md-5" style="padding-top: 20px;">
        <h2 style="margin-top: 0px;">Особенно рекомендуем лазерную эпиляцию, если:</h2>
        <!--<img src="http://www.kosmetologiya-kazan.ru/data/pictures/534/vy_pereprobovali_raznye_v.png.pagespeed.ce.ZsZAKXEwHQ.png" class="img-responsive" pagespeed_url_hash="971083024">-->
        <ul>
          <li>Вы перепробовали разные виды эпиляции, но волосы все равно остались, продолжают расти и нервировать.</li>
          <li>Вы устали ходить записываться в салон на удаление волос и готовы решить этот вопрос раз и навсегда.</li>
          <li>Вам надоело каждый месяц тратиться на эпиляцию воском или шугаринг.</li>
          <li>Волосы на теле быстро отрастают, вы уже перестали мечтать о гладкой коже.</li>
          <li>Бритвенный станок по утрам вызывает раздражение с первого взгляда.</li>
          <li>Обычная эпиляция для вас болезненна, у вас очень низкий болевой порог.</li>
          <li>Кожа у вас очень нежная и чувствительная, склонная к раздражениям.</li>
          <li>После эпиляции воском или шугаринга у вас появились вросшие волосы, и они доставляют неудобство.</li>
          <li>Вы страдаете от фолликулита — воспаления волосяных фолликулов.</li>
          <li>Вы хотите в любой момент пойти в бассейн, спортзал, сауну или на пляж и не беспокоиться об отросших волосах.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row hidden-xs" style="background-image:url('http://www.kosmetologiya-kazan.ru/data/pictures/537/top_waves.png');background-position: bottom;background-repeat:no-repeat;background-size:contain;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>НАШЕ СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ:</h2>
        <table class="table" id="promo" >
          <tbody>
          <tr>
            <td class="text-right" width="47%">
              Лазерная эпиляция всего тела: 5900 р.<br><div style="font-size:.6em;">Зоны: подмышечные впадины, бикини, голень.</div>
            </td>
            <td class="text-center" width="6%">
              <img src="http://www.kosmetologiya-kazan.ru/data/pictures/536/vektornyi_smart-obekt_kop_2.png.pagespeed.ce.RbUCL-3rxi.png" pagespeed_url_hash="648539542">
            </td>
            <td class="text-left" width="47%">
              Выгода: 7300 руб.<br>
              <div style="font-size: .6em;">Обычная цена: 13200 руб.</div>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="padding-top:10px;padding-bottom: 250px;height:200px;text-align:center;">
              <a href="#recall" data-toggle="modal" class="choose_now">Оставить заявку</a>
            </td>
          </tr>
          </tbody>
        </table>
        <!--dsf-->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>РЕЗУЛЬТАТЫ ДО И ПОСЛЕ:</h2>
    </div>
    <div class="col-md-3 text-center">
      <img src="http://www.kosmetologiya-kazan.ru/data/pictures/550/oie_UcfOVYMB3Hl7.jpg" class="img-responsive" style="height: 269px"><br>
      До
    </div>
    <div class="col-md-3 text-center">
      <img src="http://www.kosmetologiya-kazan.ru/data/pictures/551/oie_cofuetY1EPsj.jpg" class="img-responsive" style="height: 269px"><br>
      После
    </div>
    <div class="col-md-3 text-center">
      <img src="http://www.kosmetologiya-kazan.ru/data/pictures/554/oie_dNNoMP1R2plW.png" class="img-responsive" style="height: 269px"><br>
      До
    </div>
    <div class="col-md-3 text-center">
      <img src="http://www.kosmetologiya-kazan.ru/data/pictures/555/oie_3FirMLW1DlmV.png" class="img-responsive" style="height: 269px"><br>
      После
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>2 ОСНОВНЫХ ЭТАПА ЛАЗЕРНОЙ ЭПИЛЯЦИИ</h2>
      <p>
        В наших центрах вся процедура разделена на блоки, каждый из которых длится несколько минут. Строгое следование правилам гарантирует вам безопасность эпиляции и гладкую кожу без ожогов и раздражения.
      </p>
      <p>
        Движения врача во время процедуры — мягкие, точные и заботливые. Познакомиться с нашими специалистами вы можете <a href="/experts">здесь</a>
      </p>
      <h2>Этап №1 (5-15 минут)</h2>
      <h4 class="text-center" style="font-size:1.4em;">Удаление волос</h4>
      <p>
        Процедура в наших Центрах занимает до 30 минут  даже на самые большие участки кожи — спину и ноги по всей длине. Все другие зоны эпилируем быстрее.
      </p>
      <p>
        Перед началом эпиляции врач очистит ватным тампоном вашу кожу от нанесенных косметических средств: дезодоранта, крема или макияжа. Врач будет аккуратно прикладывать рукоятку аппарата к вашей коже. Сначала вы почувствуете, как кожа всасывается в полость рукоятки и образуется вакуум, благодаря чему процедура и безболезненная. Потом вы ощутите легкое давление, которое сменяется коротким, но глубоким нагревом волосяного фолликула — это луч света разрушает ваши волосяные фолликулы.
      </p>
      <h2>Этап №2 (1-2 минуты)</h2>
      <h4 class="text-center" style="font-size:1.4em;">Уход</h4>
      <p>
        Врач нанесет легкую мазь на вашу кожу. Благодаря ей уже через 10-20 минут от покраснений не останется следов, и вы сможете отправиться на встречу или вечеринку.
      </p>
      <h2>Итого: от 5 до 20 минут вашего времени на всю процедуру.</h2>
    </div>
  </div>
</div>
<%=render :partial=>'services/lazer/hr'%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>ЧТО ТАКОЕ ЛАЗЕРНАЯ ЭПИЛЯЦИЯ И КАК ОНА РАБОТАЕТ</h2>
    </div>
    <div class="col-md-3">
      <img src="http://www.kosmetologiya-kazan.ru/data/pictures/541/oie_0vmeElMXDqT3.png" class="img-responsive">
      <p>Различные длины световых волн по-разному поглощаются цветовым пигментом (по этой же причине, например, черный цвет быстрее нагревается на солнце, чем все другие). Производителям современного лазерного оборудования удалось выделить длину волны в 810 нм. Именно эта длина волны полностью, без остатка поглощается темным пигментом волоса во время процедуры.</p>
    </div>
    <div class="col-md-3">
      <img src="http://www.kosmetologiya-kazan.ru/data/pictures/543/oie_PdFtcRxESonz.png" class="img-responsive">
      <p>Накопив определенное количество энергии этого луча, волосяной фолликул разрушается. Особенно важно, что при этом окружающие ткани, не содержащие хромофора (мишени для этой длины волны), совершенно не затрагиваются! Именно эта особенность и обеспечивает абсолютную безболезненность лазерной эпиляции, в отличие от других методов эпиляции (фото-, элос-, другие виды лазеров), где используются длины волн, нагревающие соседние ткани.</p>
    </div>
    <div class="col-md-3">
      <img src="http://www.kosmetologiya-kazan.ru/data/pictures/544/oie_sfnXWC1DUp4m.png" class="img-responsive">
      <p>В течение трех недель после процедуры, по мере обновления кожного покрова, фолликул вместе с оставшимся волосом поднимается наружу и выпадает. В течение следующих четырех недель просыпаются, выходят из анабиоза и начинают активно расти «запасные» фолликулы.</p>
    </div>
    <div class="col-md-3">
      <img src="http://www.kosmetologiya-kazan.ru/data/pictures/542/oie_k6VVaagn68Rf.png" class="img-responsive">
      <p>К моменту, когда волосы «запасных» фолликулов появляются над поверхностью кожи, Вы готовы к очередной процедуре. Обычно для представителей европеоидной расы характерно от 5 до 10 циклов активизации «запасных» фолликулов и их роста. Этим циклам соответствует и количество необходимых процедур лазерной эпиляции для полного удаления волос.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>12 МИФОВ О ЛАЗЕРНОЙ ЭПИЛЯЦИИ, КОТОРЫЕ МЫ СЕЙЧАС РАЗВЕЕМ</h2>
      <p>Лазерной эпиляции более 20 лет. Из них 7 лет мы глубоко погружены в тему, изучаем и тестируем каждую новинку в отрасли и обучаем своих косметологов лазерной эпиляции.</p>
      <p>Мы собрали самые популярные вопросы, которые задают нам клиенты перед записью на лазерную эпиляцию и попросили ведущих косметологов Центра ответить на них — коротко и доступным языком.</p>
      <% @myths.each_with_index do |myth, index| %>
       <div class="myth">
         <div class="label">Миф №<%=(index.to_i + 1).to_s%></div>
         <div class="name"><%=myth%></div>
         <div class="more"><img data-id="<%=index%>" src="http://www.kosmetologiya-kazan.ru/data/pictures/545/vektornyi_smart-obekt_kop_7.png"></div>
         <div class="more-content" id="myth<%=index%>">
           <%=@answers[index.to_i].html_safe%>
         </div>
       </div>
       <% end %>
    </div>
  </div>
</div>
<div class="row green-block">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Выводы</h2>
        <p>Лазерная эпиляция в Казани — это простая, быстрая, безболезненная процедура, которая подходит для любых участков тела, как мужчинам, так и женщинам. Экономит деньги, время и помогает удалить любые волосы навсегда.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="col-md-12">
    <h2>ЛАЗЕРНАЯ ЭПИЛЯЦИЯ ОТЗЫВЫ</h2>
    <p>За качество лазерной эпиляции и профессионализм врачей мы отвечаем головой и репутацией всех наших Центров. Прочитайте отзывы наших клиентов об услуге, чтобы принять взвешенное решение.</p>
  </div>
  </div>
  <div class="row review">
      <div class="col-md-3">
         <img src="http://www.kosmetologiya-kazan.ru/data/pictures/635/oooo.plus_341__4_.png" width="150">
        <div class="name">Хамдамова Айгуль</div>
      </div>
    <div class="col-md-9">
      <strong>Об эффекте от лазерной эпиляции</strong>
      <p>Сегодня пришла на лазерную эпиляцию ног во второй раз. Пришла с удовольствием! Честно говоря, не верила, что после одной процедуры я увижу какой-либо результат. Но приятно удивилась! После первой же процедуры рост волос действительно уменьшился, кожа стала гладкой. Сама процедура оказалась безболезненной. Спасибо Гульнаре за ее нежные руки. Ведь многое зависит от специалиста. И спасибо всему коллективу за радушный прием, внимательность и профессионализм.</p>
    </div>
  </div>
  <div class="row review">
      <div class="col-md-3">
        <img src="http://www.kosmetologiya-kazan.ru/data/pictures/634/oooo.plus_807.png" width="150">
        <div class="name">Тишкина Марина</div>
      </div>
      <div class="col-md-9">
        <strong>Об ощущениях во время процедуры</strong>
        <p>Очень благодарна мастеру Гульнаре за услугу эпиляции! Спасибо за легкие, золотые, безболезненные руки, понимание и терпение. Хожу к мастеру, не поменяю ее ни на кого. Надеюсь Центр эпиляции и косметологии ее также глубоко ценит как сотрудника, как и я.</p>
      </div>
  </div>
  <div class="row review">
    <div class="col-md-3">
      <img src="http://www.kosmetologiya-kazan.ru/data/pictures/632/_________________.png" width="150">
      <div class="name">Постникова Оксана</div>
    </div>
    <div class="col-md-9">
        <strong>Об удалении светлых волос</strong>
        <p>После долгих поисков, уже отчаявшись получить результат на свои светлые волосы, мне очень повезло. Я попала в волшебные руки Евгении Сергеевны, и она совершила чудо)))Уже после трех процедур лазерной эпиляции бикини результат супер! Теперь записалась на пилинг.</p>
    </div>
  </div>
  <div class="row review">
      <div class="col-md-3">
        <img src="http://www.kosmetologiya-kazan.ru/data/pictures/633/________________.png" width="150">
        <div class="name">Диляра Каримова</div>
      </div>
      <div class="col-md-9">
        <strong>О стоимости лазерной эпиляции</strong>
        <p>Спасибо Центру эпиляции и косметологии за возможность пройти процедуры со скидкой. Значительная экономия денег. Все специалисты очень милые и отзывчивые.</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%
        @reviews = @service.reviews.order('id DESC').limit(5)
      %>
      <%=render :partial=> 'services/show/buttons', locals: {service: @service, noorder: true}%>
      <%=render :partial => 'services/show/modals/prices'%>
      <%=render :partial => 'services/show/modals/reviews'%>
    </div>
  </div>
</div>
  <div class="container" style="padding: 40px 0px">
    <div class="row">
      <div class="col-md-3" style="padding-top: 40px;"><img src="http://www.kosmetologiya-kazan.ru/data/pictures/561/layer_4.png" class="img-responsive"></div>
      <div class="col-md-6" style="padding-top: 10px; ">
        <h3>ОСТАВЬТЕ ЗАЯВКУ,
          ЧТОБЫ ПОЛУЧИТЬ 50%
          НА ПЕРВУЮ ПРОЦЕДУРУ</h3>
        <%=render :partial=>'app/order/form'%>
      </div>
      <div class="col-md-3" style="padding-top: 50px;"><img src="http://www.kosmetologiya-kazan.ru/data/pictures/563/layer_24.png" class="img-responsive"></div>
    </div>
  </div>
