<%
   meta :title => @service.title,
        :description => @service.description,
        :keywords => @service.keys
%>
<div class="main col-md-8 scrollit">
  <h1 class="page-title"><%=@service.name%></h1>
  <article class="">
    <div class="blogpost-content">
      <% if @service.id.to_i != 79 %>
      <p style="padding-bottom: 0px;margin-bottom: 0px;">
        <%=@service.anounce.html_safe%>
      </p>
      <%=render :partial => 'services/show/media'%>
      <% end %>
      <%=render :partial => 'services/show/content'%>
    </div>
    <a name="h6"></a>
    <h2 id="pricelist">Цены на процедуру</h2>
    <%=render :partial => 'app/pricelist', :locals => {:pricelist=>@pricelist}%>
    <div class="comments-form">
      <h2 class="title" id="booking">Записаться на процедуру онлайн</h2>
      <%=render :partial => 'app/order/form'%>
    </div>
  </article>
</div>
<aside class="col-md-3 col-md-offset-1">
  <div class="sidebar" style="padding-top:10px;">
    <%=render partial: 'services/show/table_of_context'%>
    <% if @service.id.to_i != 79 %>
    <div class="block clearfix hidden-sm hidden-xs">
      <h3 class="title">Специалист</h3>
      <div class="separator"></div>
      <%=render partial: 'experts/shared/portrait', :locals => {expert: @service.experts.first}%>
    </div>
    <% end %>
    <!---->
  </div>
</aside>