<%
   meta :title => @service.name,
        :description => Sanitize.clean(@service.anounce).truncate(250)
%>
<div id="service">
  <div class="page-header">
    <h1><%=@service.name%></h1>
  </div>
  <%=@service.content.html_safe%>
  <% if @album.count > 0 %>
  <div class="page-header">
    <h2>Фотографии процедуры &laquo;<%=@service.name%>&raquo;</h2>
  </div>
  <div id="gallery">
    <% @album.each do |image| %>
        <div class="thumbnail">
          <%=link_to image.gsub('public','').gsub('th/','big/'), :class=> 'photos', :data => {:rel=>'photos'} do %><%= image_tag image.gsub('public','') %><% end %>
        </div>
    <% end %>
  </div>
  <% end %>
  <table id="solution">
    <tr>
      <td class="left">
        <div id="price">
          <div class="page-header">
            <h2>Прайс лист</h2>
          </div>
          <%=render :partial => 'app/pricelist', :locals => {:pricelist=>@pricelist}%>
          <% if @service.promos.count > 0 %>
              <div id="promos-list" style="margin: 0px;padding: 0px;">
                <table class="table">
                  <%@service.promos.each_with_index do |promo,index|%>
                      <tr>
                        <td class="banner">
                          <div class="wr">
                            <%=promo.banner.html_safe%>
                          </div>
                        </td>
                      </tr>
                  <% end %>
                </table>
              </div>
          <% end %>
        </div>
        <br>
        <%=render :partial => 'app/order'%>
      </td>
      <td class="right">
        <% if @issues.count > 0 %>
            <div class="page-header">
              <h2>Решаемые проблемы</h2>
            </div>
            <ul>
            <% @issues.each do |issue|%>
              <li><%=link_to issue.name, issue_path(url:issue.url)%></li>
            <% end %>
            </ul>
        <% end %>
        <% if @experts.count > 0 %>
        <div class="page-header">
          <h2>Специалист<%if @experts.count > 1%>ы<% end %></h2>
        </div>
        <%@experts.each do |expert|%>
        <div class="thumbnail">
          <div style="height: 130px;overflow: hidden">
            <%=link_to expert_path(expert) do %><%=image_tag 'http://kosmetologiya-kazan.ru' + expert.photo.url(:medium)%><% end %>
          </div>
          <div class="caption">
            <%=link_to expert.name, expert_path(expert)%>
          </div>
        </div>
        <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
