<%
   meta :title => @service.title,
        :description => @service.description,
        :keywords => @service.keys
   certificates = @service.certificates
   mode = ''
   if certificates.length == 0
       certificates = Certificate.order('RAND()').limit(1)
       mode = 'right'
   end
   banners = @service.promos.where('fl_top = 1 and fl_active = 1').order('fl_banner DESC')
   if banners.length > 0 && banners.first.is_alive
       @widgets = banners.first.widgets
   end
%>
<div class="main col-md-9 scrollit">
  <h1 class="page-title"><%=@service.name%></h1>
  <article class="">
    <div class="blogpost-content">
      <%=render :partial => 'services/widget/promo', locals: {position: 1}%>
      <%=render :partial => 'services/show/content'%>
      <%=render :partial=> 'services/show/gallery'%>
    </div>
    <a name="experts"></a>
    <h2 id="experts">Наши специалисты</h2>
    <div class="row">
      <% @service.experts.limit(3).each do |expert| %>
          <div class="block clearfix col-md-4" style="padding-bottom: 0px;">
            <%=render partial: 'experts/shared/portrait', :locals => {expert:expert}%>
          </div>
      <% end %>
    </div>
    <a name="h6"></a>
    <%=render :partial => 'services/widget/promo', locals: {position: 2}%>
    <h2 id="pricelist">Цены на <%if @service.id == 79%>все зоны<%else%>процедуру<% end %></h2>
      <%=render :partial => 'app/pricelist', :locals => {:pricelist=>@pricelist,collapsed: 1}%>
      <div class="alert alert-info" role="alert">
        <strong>0% рассрочка!</strong> Наши услуги вы можете оплатить в рассрочку без процентов.<br><a target="_blank" href="/posts/198" style="text-decoration: underline;color: black;">Узнать подробности</a>
      </div>
    <%=render :partial => 'services/show/reviews'%>
    <div class="comments-form">
      <h2 class="title" id="booking">Записаться на процедуру онлайн</h2>
      <% if @service.id == 79 %><p style="padding: 0px;margin: 0px 0px 10px 0px;"><sup style="color:red;">*</sup>Данная процедура проводится по адресу Спартаковская, 2а</p><% end %>
      <%=render :partial => 'app/order/form'%>
    </div>
  </article>
</div>
<aside class="col-md-3" style="padding-top:30px;">
  <div class="sidebar" style="padding-top:0px;padding-left: 10px;">
    <%=render partial: 'services/show/call_to_action'%>
    <%=render partial: 'app/widgets/vk_contents'%>
    <%=render partial: 'app/widgets/vk_instagram'%>
  </div>
</aside>