<%
   meta :title => @service.title,
        :description => @service.description,
        :keywords => @service.keys
%>
<div class="main col-md-8 scrollit">
  <h1 class="page-title"><%=@service.name%></h1>
  <article class="">
    <div class="blogpost-content">
      <% if @service.id.to_i != 79 %>
      <p style="padding-bottom: 0px;margin-bottom: 0px;">
        <%=@service.anounce.html_safe%>
      </p>
      <% end %>
      <%=render :partial => 'services/show/content'%>
      <%=render :partial=> 'services/show/gallery'%>
    </div>
    <a name="h6"></a>
    <h2 id="pricelist">Цены на процедуру</h2>
    <% if @service.id == 79 %>
        <div class="section parallax-bg" id="top-promos">
          <div class="container">
            <div class="call-to-action">
              <div class="row">
                <div class="col-md-4">
                  <h1 style="font-size:2.0em;">Лазерная эпиляция</h1>
                  <h3 style="font-size:1.2em;">удаление нежелательных волос навсегда</h3>
                  <h2 style="color:red;">со скидкой 30%</h2>
                </div>
                <div class="col-md-4">
                  <div class="text-center">
                    <a href="#booking" class="btn btn-success btn-lg">Записаться онлайн</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <%=render :partial => 'app/pricelist', :locals => {:pricelist=>@pricelist}%>
    <div class="comments-form">
      <h2 class="title" id="booking" style="padding: 0px;margin: 0px;">Записаться на процедуру онлайн</h2>
      <% if @service.id == 79 %><p style="padding: 0px;margin: 0px 0px 10px 0px;"><sup style="color:red;">*</sup>Данная процедура проводится по адресу Спартаковская, 2а</p><% end %>
      <%=render :partial => 'app/order/form'%>
    </div>
  </article>
</div>
<aside class="col-md-3 col-md-offset-1">
  <div class="sidebar" style="padding-top:10px;">
    <%=render partial: 'services/show/table_of_context'%>
    <% if @service.id.to_i != 79 %>
    <div class="block clearfix hidden-sm hidden-xs">
      <h3 class="title">Специалист</h3>
      <div class="separator"></div>
      <%=render partial: 'experts/shared/portrait', :locals => {expert: @service.experts.first}%>
    </div>
    <% end %>
    <!---->
  </div>
</aside>