<%
   meta :title => "#{@faq.name} - вопросы и ответы",
        :description => Sanitize.clean(@faq.question).gsub("\n"," ").truncate(250)
   question = @faq.question.gsub(/<\/?span[^>]*>/i,'')
   answer = @faq.answer.gsub(/<\/?span[^>]*>/i,'')
%>
<div class="main col-md-9" id="faq-document">
  <h1 class="page-title"><%=@faq.name%></h1>
  <div class="separator-2"></div>
  <div class="well"><blockquote><%=question.html_safe%></blockquote></div>
  <div class="answer"><%=answer.html_safe%></div>
  <br>
  <%=render :partial => 'faqs/form'%>
</div>
<div class="col-md-3">
  <%=render partial: 'app/widgets/right'%>
</div>
