<div class="hidden-xs">
  <% if @service && @service.id == 10%>
      <h2>Виды пилингов</h2>
  <% else %>
      <h2>Используемые препараты</h2>
  <% end %>
<div class="panel">
  <%medicaments.each_with_index do |medicament,index|%>
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" style="text-decoration: underline;" data-parent="#global-pricelist" href="#collapse<%=medicament.id%>">
            <%=('<i class="fa fa-caret-down"></i> ' + medicament.name).html_safe%>
          </a>
        </h4>
      </div>
      <div id="collapse<%=medicament.id%>" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="pull-left" style="margin-right:10px;"><%=image_tag medicament.photo.url(:medium) %></p>
          <%=medicament.anounce%>
          <p><a href="/medicaments/<%=medicament.id%>" style="text-decoration: underline">Подробнее</a></p>
        </div>
      </div>
  <% end %>
</div>
</div>
