<div class="listing-item">
  <div class="overlay-container" style="<%if certificate.fl_type.to_i == 2%>padding-top:30px;<%else%>padding-top: 0px;<% end %>height: 220px;">
    <%=image_tag certificate.photo.url%>
  </div>
  <div class="listing-item-body clearfix">
    <h3 class="title"><%=link_to certificate.name, certificate_path(certificate)%></h3>
    <p><%=certificate.preview.html_safe%></p>
    <% if certificate.fl_type == 1%>
    <span class="price"><%=certificate.price%> <div class="rouble">Р</div></span>
    <% end %>
    <div class="elements-list pull-right">
      <%=link_to certificate_path(certificate) do%><i class="fa fa-shopping-cart pr-10"></i>Подробнее<% end %>
    </div>
    <% if defined?(mode) && mode == 'right'%>
        <div class="text-center"><a href="/certificates" class="btn btn-sm btn-primary">Все сертификаты</a></div>
    <% end %>
  </div>
</div>