<div class="row" id="product" data-id="<%=@product.id%>">
  <div class="col-md-12">
    <div class="page-header" style="margin: 10px 0px;">
      <h1><%=@product.name.html_safe%></h1>
    </div>
    <div class="content">
      <div style="float: right;" style="margin-left: 10px;">
        <%if @product.photo? %>
            <%=image_tag @product.photo.url(:thumb)%>
        <% else %>
            <% if @product.collection.unit_id == 1 %>
                <%=image_tag "/data/products/#{@product.id}.jpg"%>
            <% end %>
        <% end %>
      </div>
      <%=@product.description.html_safe%>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <div style="box-shadow: 0px 0px 10px #555;padding: 15px 10px 5px 10px;margin-top: 10px;">
    <table class="table" style="">
      <tr>
        <th style="text-align: center;font-size: 12px;border-top: 0px;">Продукт</th>
        <th style="text-align: center;font-size: 12px;border-top: 0px;">Объём</th>
        <th style="text-align: center;font-size: 12px;border-top: 0px;">Доступность</th>
        <th style="text-align: center;font-size: 12px;border-top: 0px;">Цена</th>
        <th style="text-align: center;font-size: 12px;border-top: 0px;">В корзину</th>
      </tr>
      <%i = 0%>
      <%@product.items.order('price asc').each do |item|%>
          <tr>
            <td style="text-align: center;"><%=@product.name.html_safe%></td>
            <td style="text-align: center;"><%=item.volume%> мл.</td>
            <td style="text-align: center;">На складе</td>
            <td style="text-align: center;"><%=item.price%> руб.</td>
            <td style="text-align: center"><button class="btn btn-primary btn-sm add-to-cart" data-item="<%=item.id%>"><i class="glyphicon glyphicon-shopping-cart"></i> в корзину</button></td>
          </tr>
      <% end %>
    </table>
        </div>
    </div>
  </div>
  <div class="row">
     <div class="col-md-7">
       <div style="background-color: #f0f0f0;padding: 10px;margin-top: 20px;">
       <div class="page-header">Проконсультироваться</div>
       <%=render :partial => 'app/order/form'%>
       </div>
     </div>
     <div class="col-md-5">
       <div class="page-header">
         <h3>Частые вопросы</h3>
       </div>
       <strong>Как просходит оплата заказа?</strong>
       <p>Оплата заказа производится наличными при получении заказа. Наш менеджер свяжется с вами в течении нескольких часов после получения вашего заказа</p>
       <strong>Как получить заказ</strong>
       <p>В данный момент заказ можно получить только самовывозом из нашего салона по адресу ул. Островского, дом 2а ТЦ Караван</p>
     </div>
  </div>
</div>