<div class="masonry-grid-fitrows row grid-space-20">
  <%@section.services.order('fl_order ASC').each do |service|%>
      <div class="col-md-4 col-sm-6 masonry-grid-item col-xs-12" style="margin-bottom: 20px;">
        <div class="listing-item">
          <div style="height: 200px;overflow: hidden">
            <img src="<%=service.photo.url(:medium)%>" style="height: 100%;-webkit-filter: sepia(15%);">
          </div>
          <div class="listing-item-body clearfix" style="background-color: #FCF8E3;height: 200px;padding-left:10px;">
            <div style="height: 140px;">
            <h3 class="title"><a href="<%= service_path(id:service.id, url:service.url)%>" style="text-decoration: underline"><%= service.name.truncate(35) %></a></h3>
            <p style="color: #000;"><%=service.description.truncate(70)%></p>
            </div>
            <div class="price" style="margin-bottom: 20px;">от
              <% if @prices[service.id] == nil %>
                  <%=service.price%>
              <% else %>
                  <% if @prices[service.id].min_price.to_i > 0 %>
                      <%=@prices[service.id].min_price.round%>
                  <% else %>
                      <%=@prices[service.id].price%>
                  <% end %>
              <% end %>
              <div class="rouble">Р</div></div>
          </div>
        </div>
      </div>
  <% end %>
</div>