<div class="container">
  <div class="row">
    <div class="col-md-8" style="padding-bottom: 0px;margin-bottom: 0px;">
      <h2 class="title" id="services">Популярные сервисы</h2>
      <!--<div class="filters">
        <ul class="nav nav-pills">
          <li class="active"><a href="#" data-filter="*">Популярные сервисы</a></li>
        </ul>
      </div>-->
      <!-- isotope filters end -->

      <!-- portfolio items start -->
      <div class="isotope-container row">
        <%@section.services.order('fl_order ASC').each do |service|%>
            <div class="col-sm-6 col-md-3 isotope-item r<%=service.sections.first.id%>">
              <div class="image-box">
                <div class="overlay-container" style="height:120px;">
                  <img src="http://www.kosmetologiya-kazan.ru<%=service.photo.url(:medium)%>" alt="">
                  <%=link_to service_path(id:service.id, url:service.url), :class=>"overlay small" do%>
                      <i class="fa fa-link"></i>
                  <% end %>
                </div>
                <a href="<%=service_path(id:service.id, url:service.url)%>" class="btn btn-light-gray btn-block" style="text-transform: lowercase;font-size:11px;height:50px;"><%=service.name.truncate(50)%></a>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>