<%= javascript_include_tag "v3/controller/#{params[:controller]}" %>
<footer class="footer container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <div class="addresses">
          <img src="http://beauty-season-center.ru/img/place1.png" width="16" class="place_icon place1" alt="">
          <p class="medium">Казань, ул. Спартаковская, 2 к.1</p>
          <p class="add_desc">Вахитовский район, рядом ул. Островского, ул. Cалимжанова, ул. Петербургская, ул. Вишневского</p>
          <img src="http://beauty-season-center.ru/img/phone1.svg" width="14" class="place_icon phone1" alt="">
          <p class="phone_num">+7 (843) 2000-322</p>
          <img src="http://beauty-season-center.ru/img/place2.png" width="16" class="place_icon place2" alt="">
          <p class="medium">Казань, пр. Ибрагимова, 54 (Фитнес центр «Олимп»)</p>
          <p class="add_desc">Московский район, рядом ул. Декабристов, ул. Восстания, ул. Вахитова</p>
          <img src="http://beauty-season-center.ru/img/phone2.svg" width="14" class="place_icon phone2" alt="">
          <p class="phone_num">+7 (843) 2000-322</p>
          <img src="http://beauty-season-center.ru/img/place3.png" width="16" class="place_icon place3" alt="">
          <p class="medium">Казань, ул. Сибгата Хакима, 42</p>
          <p class="add_desc">Ново-Савиновский район, рядом пр. Амирхана, ул. Чистопольская</p>
          <img src="http://beauty-season-center.ru/img/phone3.svg" width="14" class="place_icon phone3" alt="">
          <p class="phone_num">+7 (843) 2000-322</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="row text-center">
          <a href="/"><img src="http://beauty-season-center.ru/img/logo.svg" width="110" class="logo img-responsive center-block" alt=""></a>
          <p class="logo_desc">Центры эпиляции и косметологии</p>
          <div class="logo_links text-uppercase">
            <a href="http://www.kosmetologiya-kazan.ru/section/epilyaciya.html" target="_blank">Эпиляция</a>
            <a href="http://www.kosmetologiya-kazan.ru/section/kosmetology.html" target="_blank">Косметология</a>
            <a href="http://www.kosmetologiya-kazan.ru/section/lechecnie-volos.html" target="_blank">Лечение волос</a>
            <a href="http://www.kosmetologiya-kazan.ru/section/korrekciya-figuri.html" target="_blank">Коррекция фигуры</a>
            <a href="http://www.kosmetologiya-kazan.ru/section/massage.html" target="_blank">Массаж</a>
            <a href="http://www.kosmetologiya-kazan.ru/services/80-piercing.html" target="_blank">Пирсинг</a>
          </div>
        </div>
      </div>
      <div class="clearfix hidden-md hidden-lg"></div>
      <div class="col-lg-4 col-lg-offset-1 col-md-4">
        <div class="row text-center">
          <div class="soc_links">
            <a href="https://vk.com/kosmetologiya_kazan" target="_blank" class="vk"></a>
            <a href="https://www.instagram.com/beauty_season_center/" target="_blank" class="insta"></a>
            <a href="https://www.youtube.com/channel/UCNfba3wYgoVGRYsACSGffag" target="_blank" class="youtube"></a>
          </div>
          <div class="email_box">
            <p class="medium"><span>epi.center.kazan@yandex.ru</span></p>
          </div>
          <div class="certs">
            <img src="http://beauty-season-center.ru/img/cert1.jpg" width="165" class="img-responsive" alt="">
            <img src="http://beauty-season-center.ru/img/cert2.jpg" width="165" class="img-responsive" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="foot_links container-fluid">
  <div class="container">
    <div class="row text-center">
      <a href="#polytics" data-toggle="modal" data-target=".bs-example-modal-sm5">Политика конфиденциальности</a>
      <a href="#agree" data-toggle="modal" data-target=".bs-example-modal-sm6">Отказ от ответственности</a>
      <a href="#response" data-toggle="modal" data-target=".bs-example-modal-sm7">Согласие с рассылкой</a>
    </div>
  </div>
</div>
<div class="foot_copy">
  <div class="container">
    <div class="row text-center">
      <p>© 2017 <span>Beauty Season</span>. Все права защищены. </p>
    </div>
  </div>
</div>
<% unless browser.device.mobile? %>
    <link rel="stylesheet" href="https://cdn.callbackkiller.com/widget/cbk.css">
    <script type="text/javascript" src="https://cdn.callbackkiller.com/widget/cbk.js?cbk_code=16969" charset="UTF-8" async></script>
<% end %>
<%=render :partial => 'app/modal/order', locals: {text: 'Я хочу записаться на приём по акции'} %>
<%=render :partial => 'app/modal/recall', locals: {text: 'Перезвоните мне пожалуйста'} %>
<%=render :partial => 'app/modal/mobile_call' %>
<%=render :partial => 'app/modal/popup' %>
<% if @service != nil && @service.id == 79 %>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72722235-1', 'auto');
        ga('send', 'pageview');

    </script>
<% end %>
<!— Facebook Pixel Code —>
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '331522750609548'); // Insert your pixel ID here.
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=331522750609548&ev=PageView&noscript=1"
/></noscript>
<!— DO NOT MODIFY —>
<!— End Facebook Pixel Code —>
<% unless browser.device.mobile? %>
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function(){ var widget_id = 'B7gkMJxK7P';var d=document;var w=window;function l(){
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
<script>
<% end %>
  $(document).ready(function() {
      $('.myth .more img').click(function () {
          var id = $(this).attr('data-id');
          $('.more-content').hide();
          $('#myth' + id).show();
      })
  });
</script>