<%previous_service_id = 0%>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">
Список цен
      <% if params[:service_id]%>
          <div class="pull-right">
            <a href="/manager/prices/new?service_id=<%=params[:service_id]%>" class="btn btn-success btn-sm">Добавить цену</a>
            <a href="/manager/prices/new?service_id=<%=params[:service_id]%>&fl_parent=true" class="btn btn-warning btn-sm">Добавить раздел</a>
          </div>
      <% end %>
    </div>
    <div class="ibox-content">
      <input type="hidden" id="order-id" value="0">
      <table class="table" id="manager-prices">
        <%@services.each do |service|%>
            <% unless params[:service_id] %>
                <tr class="sh" data-id="<%=service.id%>">
                  <th colspan="6">
                    <label class="badge">+</label> <%=service.name%>
                    <div class="pull-right"><a href="/manager/prices/new?service_id=<%=service.id%>" class="btn btn-success btn-sm">Добавить</a></div>
                  </th>
                </tr>
            <% end %>
                <tr <% unless params[:service_id] %>class="sr"<% end %> data-id="<%=service.id%>">
                  <th></th>
                  <th>Название</th>
                  <th>Цена</th>
                  <th>Скидка (%)</th>
                  <th>Нов.</th>
                  <th>Пол</th>
                  <th>Удалить</th>
                </tr>
            <%service.prices.where('parent_id = 0 AND price = 0').each do |price_depart|%>
                <tr <% unless params[:service_id] %>class="sr"<% end %> data-id="<%=price_depart.service_id%>">
                  <td></td>
                  <td colspan="5"><strong><%=price_depart.name%></strong></td>
                  <td><%= link_to "X", [:manager,price_depart], :confirm =>"Вы уверены?", :method => :delete, :class=> "btn btn-danger" %></td>
                </tr>
                <%Price.where('parent_id = ?',price_depart).each do |price|%>
                    <tr <% unless params[:service_id] %>class="sr"<% end %> data-id="<%=price.service_id%>" data-price_id="<%=price.id%>">
                      <td></td>
                      <td><input type="text" class="form-control" name="name" value="<%=price.name%>" style="width:400px;"></td>
                      <td><input type="text" class="form-control" name="price" value="<%=price.price%>"></td>
                      <td><input type="text" class="form-control" name="discount" value="<%=price.discount%>"></td>
                      <td><input type="checkbox" name="is_new_only" <%if price.is_new_only %>checked="checked"<% end %>></td>
                      <td>
                        <select name="gender_id">
                          <option value="3" <%if price.gender_id == 3%>selected<% end %>>Любой</option>
                          <option value="2" <%if price.gender_id == 2%>selected<% end %>>Жен</option>
                          <option value="1" <%if price.gender_id == 1%>selected<% end %>>Муж</option>
                        </select>
                      </td>
                      <td><%= link_to "X", [:manager,price], :confirm =>"Вы уверены?", :method => :delete, :class=> "btn btn-danger" %></td>
                    </tr>
                <% end %>
            <% end %>
            <%service.prices.where('parent_id = 0 AND price > 0').each do |price|%>
                    <tr <% unless params[:service_id] %>class="sr"<% end %> data-id="<%=price.service_id%>" data-price_id="<%=price.id%>">
                      <td></td>
                      <td><input type="text" class="form-control" name="name" value="<%=price.name%>" style="width:400px;"></td>
                      <td><input type="text" class="form-control" name="price" value="<%=price.price%>"></td>
                      <td><input type="text" class="form-control" name="discount" value="<%=price.discount%>"></td>
                      <td><input type="checkbox" name="is_new_only" <%if price.is_new_only %>checked="checked"<% end %>></td>
                      <td>
                        <select name="gender_id">
                          <option value="3" <%if price.gender_id == 3%>selected<% end %>>Любой</option>
                          <option value="2" <%if price.gender_id == 2%>selected<% end %>>Жен</option>
                          <option value="1" <%if price.gender_id == 1%>selected<% end %>>Муж</option>
                        </select>
                      </td>
                      <td><%= link_to "X", [:manager,price], :confirm =>"Вы уверены?", :method => :delete, :class=> "btn btn-danger" %></td>
                    </tr>
            <% end %>

        <% end %>
      </table>
    </div>
  </div>
</div>