<%previous_service_id = 0%>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">Список цен</div>
    <div class="ibox-content">
      <input type="hidden" id="order-id" value="0">
      <table class="table" id="manager-prices">
        <%@prices.each do |price|%>
            <%if price.service_id != previous_service_id %>
                <tr class="sh" data-id="<%=price.service_id%>">
                  <th colspan="5"><label class="badge">+</label> <%=price.service.name%></th>
                </tr>
                <%previous_service_id = price.service_id%>
                <tr class="sr" data-id="<%=price.service_id%>">
                  <th></th>
                  <th>Название</th>
                  <th>Цена</th>
                  <th>Скидка (%)</th>
                  <th>Для новых</th>
                </tr>
            <% end %>
            <%if price.parent_id.to_i == 0 && price.price.to_i == 0%>
                <tr class="sr" data-id="<%=price.service_id%>"><td></td><td colspan="4"><strong><%=price.name%></strong></td></tr>
            <% else %>
            <tr class="sr" data-id="<%=price.service_id%>" data-price_id="<%=price.id%>">
              <td></td>
              <td><%=price.name%></td>
              <td><input type="text" class="form-control" name="price" value="<%=price.price%>"></td>
              <td><input type="text" class="form-control" name="discount" value="<%=price.discount%>"></td>
              <td><input type="checkbox" name="is_new_only" <%if price.is_new_only %>checked="checked"<% end %>></td>
            </tr>
            <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>