<%
   meta :title => 'Акции Центра эпиляции и косметологии',
        :description => 'Текущие акции, скидки и специальные предложения от центра эпиляции и косметологии'
%>
<div class="main col-md-9" id="promos">
  <!-- page-title start -->
  <!-- ================ -->
  <h1 class="page-title">Акции Центра эпиляции и косметологии</h1>
  <div class="separator-2"></div>
  <div class="section">
        <% @promos.each do |banner|%>
                <div class="row call-to-action" style="background-color: #E9E9E9;margin-bottom: 20px;">
                  <div class="col-md-4">
                    <%=image_tag banner.photo.url(:medium), class: 'img-responsive'%>
                  </div>
                  <div class="col-md-8" style="padding-top: 15px;text-align: left;">
                    <%=banner.banner.html_safe%>
                    <div style="float: left;" class="btn-danger btn  btn-md">До <%=banner.due.strftime('%d.%m.%Y')%></div>
                    <div style="float: left;">
                      <button data-toggle="modal" data-target="#online-order" class="btn btn-default btn-md">Записаться</button>
                      <a href="<%if banner.more_link == nil || banner.more_link.length == 0%>/promos/<%=banner.id%><% else %><%=banner.more_link%><% end %>" class="btn btn-md" style="background-color: #fcf8e3;color: #000000 ">Подробнее</a>
                    </div>
                  </div>
                </div>
        <% end %>
  </div>
</div>
<div class="col-md-3">
  <%=render partial: 'app/widgets/right'%>
</div>