<%
   meta :title => "Акция - #{@promo.name}",
        :description => Sanitize.clean(@promo.content).gsub("\n"," ").truncate(250)
%>
<div class="main col-md-8">
  <!-- page-title start -->
  <!-- ================ -->
  <h1 class="page-title"><%=@promo.name%></h1>
  <!-- page-title end -->

  <!-- blogpost start -->
  <article class="clearfix blogpost full" style="padding-top: 20px;">
    <div class="blogpost-body">
      <div class="blogpost-content">
        <%=@promo.content.html_safe%>
            <a href="javascript://" class="btn btn-lg btn-success" data-toggle="modal" data-target="#recall">Забронировать</a>
      </div>
    </div>
  </article>
</div>
<aside class="col-md-3 col-md-offset-1">
  <div class="sidebar">
    <h3 class="title">Ещё акции</h3>
    <div class="separator"></div>
    <%@promos.each_with_index do |promo,index|%>
        <div class="block clearfix">
          <div class="image-box">
            <div class="overlay-container">
              <img src="<%=promo.photo.url(:medium)%>" alt="">
              <div class="overlay">
                <div class="overlay-links">
                  <%=link_to promo_path(promo) do %><i class="fa fa-link"></i><% end %>
                  <a href="<%=promo.photo.url%>" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="image-box-body">
              <h3 class="title"><%=link_to promo.name, promo_path(promo)%></h3>
            </div>
          </div>
          <br>
    <% end %>
    </div>
  </div>
</aside>
