<%
   meta :title => "Акция - #{@promo.name}",
        :description => Sanitize.clean(@promo.content).gsub("\n"," ").truncate(250)
%>
<div id="promo">
  <div class="page-header">
    <h1><%=@promo.name%></h1>
  </div>
  <div class="content">
    <%=@promo.content.html_safe%>
  </div>
  <table class="acts">
    <tr>
      <td style="width:60%;padding-top: 27px;"><%=render :partial => 'app/order'%></td>
      <td style="width:40%">
        <div id="promos-list">
          <div class="page-header">
            <h2>Другие акции</h2>
          </div>
          <table class="table">
              <%@promos.each_with_index do |promo,index|%>
                <tr>
                  <td class="banner">
                    <div class="wr">
                      <%=promo.banner.html_safe%>
                      <%=link_to "Подробнее о предложении", promo_path(promo), :class=>'btn btn-sm btn-primary'%>
                    </div>
                  </td>
                </tr>
              <% end %>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
