<%
   meta :title => "Акция - #{@promo.name}",
        :description => Sanitize.clean(@promo.content).gsub("\n"," ").truncate(250)
%>
<div id="promo">
  <div class="page-header">
    <h1><%=@promo.name%></h1>
  </div>
  <div class="content">
    <%=@promo.content.html_safe%>
  </div>
  <table class="acts">
    <tr>
      <td style="width:60%;padding-top: 27px;">
        <% if @promo.id == 20 %>
            <%=render :partial => 'app/order', locals: {text: "Я хочу записаться на процедуру лазерной эпиляции со скидкой 50% по кодовому слову ЛАЗЕР 26. Перезвоните мне, пожалуйста, чтобы уточнить подробности"}%>
        <% elsif @promo.id == 18 %>
            <%=render :partial => 'app/order', locals: {text: "Я хочу записаться на вакуумно-роликовый массаж со скидкой 50% по кодовому слову СТАРВАК. Перезвоните мне, пожалуйста, чтобы уточнить подробности"}%>
        <% else %>
            <%=render :partial => 'app/order'%>
        <% end %>
      </td>
      <td style="width:40%">
      </td>
    </tr>
  </table>
</div>
