    <%=render :partial => 'app/banners/top'%>
    <div class="page-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-right" style="padding-top: 7px;">
              <i class="fa fa-gift"></i> <a href="/certificates" style="font-size: 13px;">Подарочные сертификаты</a> &nbsp;
              <i class="fa fa-calendar"></i> <a href="/subscriptions" style="font-size:13px;">Абонементы</a>
            </div>
            <ol class="breadcrumb" style="margin-bottom: 10px;">
              <li><i class="fa fa-home pr-10"></i><a href="/">Главная</a></li>
              <% if @section %>
                  <li><%=@section.name%></li>
              <% end %>
              <%if @service %>
                  <%
                     if @service.parent_id > 0
                         parent = Service.where('id = ?',@service.parent_id).first
                         issues = parent.issues
                         section = parent.sections.first
                     else
                         parent = nil
                         issues = @service.issues
                         section = @service.sections.first
                     end
                  %>
                  <% if section.url != nil && section.url.length > 0 %>
                      <li><%=link_to section.name, section_path(:url=>section.url) %></li>
                  <% else %>
                      <% if issues != nil && issues.count > 0%>
                          <% if issues.count < 2 %>
                              <li><a href="<%=issue_path(:url=>issues.first.url)%>"><%=issues.first.name%></a></li>
                          <% else %>
                              <li class="dropdown">
                                <a id="dLabel" href="<%=issue_path(:url=>issues.first.url)%>"><%=issues.first.name%></a><span style="cursor: pointer;" class="caret" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>

                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                  <%issues.each_with_index do |issue, key|%>
                                      <% if key > 0 %>
                                          <li><a href="<%=issue_path(:url=>issue.url)%>"><%=issue.name%></a></li>
                                      <% end %>
                                  <% end %>
                                </ul>
                              </li>
                          <% end %>
                      <% end %>
                  <% end %>
                  <% if parent != nil %>
                      <li><%=link_to parent.name, service_path(:id=>parent.id, :url=>parent.url) %></li>
                  <% end %>
              <% end %>
              <% if @medicament %>
                  <%
                     medicament_service = @medicament.service
                  %>
                  <% if medicament_service != nil %>
                      <li><%=link_to medicament_service.name, service_path(:id=>medicament_service.id, :url=>medicament_service.url) %></li>
                  <% end %>
                  <li class="active"><%=@medicament.name%></li>
              <% end %>
              <%if @service %>
                  <li class="active"><%=@service.name%></li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>