<div class="row" style="padding-top:0px;">
  <div class="col-md-12" id="footer">
    <table>
      <tr>
        <td class="office">
          <nobr>2014 &copy; Центр эпиляции и косметологии</nobr>
          <div>
            Лицензия: ЛО-16-01-002859 от 15.08.2013
          </div>
          <div>
            <!--LiveInterfnet logo--><a href="http://www.liveinternet.ru/click"
                                       target="_blank"><img src="//counter.yadro.ru/logo?44.6"
                                                            title="LiveInternet"
                                                            alt="" border="0" width="31" height="31"/></a><!--/LiveInternet-->
          </div>
        </td>
        <td>
          <noindex>
          <h3>Эпиляция</h3>
          <ul>
            <%Section.where('id = 1').first.services.where('fl_publish = 1').order('fl_order').limit(4).each do |service|%>
                <li><a href="<%=service_path(id:service.id, url:service.url)%>"><%=service.name%></a></li>
            <% end %>
          </ul>
          <h3>Коррекция фигуры</h3>
          <ul>
            <%Section.where('id = 4').first.services.where('fl_publish = 1').order('fl_order').limit(3).each do |service|%>
                <li><a href="<%=service_path(id:service.id, url:service.url)%>"><%=service.name%></a></li>
            <% end %>
          </ul>
          </noindex>
        </td>
        <td>
          <noindex>
          <h3>Косметология</h3>
          <ul>
            <%Section.where('id = 2').first.services.where('fl_publish = 1').order('fl_order').limit(8).each do |service|%>
                <li><a href="<%=service_path(id:service.id, url:service.url)%>"><%=service.name%></a></li>
            <% end %>
          </ul>
          </noindex>
        </td>
        <td>
          <noindex>
          <h3>Маникюр и педикюр</h3>
          <ul>
            <%Section.where('id = 7').first.services.where('fl_publish = 1').order('fl_order').limit(8).each do |service|%>
                <li><a href="<%=service_path(id:service.id, url:service.url)%>"><%=service.name%></a></li>
            <% end %>
          </ul>
          </noindex>
        </td>
        <td>
          <noindex>
          <h3>Массаж</h3>
          <ul>
            <%Section.where('id = 5').first.services.where('fl_publish = 1').order('fl_order').limit(4).each do |service|%>
                <li><a href="<%=service_path(id:service.id, url:service.url)%>"><%=service.name%></a></li>
            <% end %>
          </ul>
          <h3>Лечение волос</h3>
          <ul>
            <%Section.where('id = 3').first.services.where('fl_publish = 1').order('fl_order').limit(3).each do |service|%>
                <li><a href="<%=service_path(id:service.id, url:service.url)%>"><%=service.name%></a></li>
            <% end %>
          </ul>
          </noindex>
        </td>
      </tr>
    </table>
  </div>
</div>