<!--LiveInternet counter--><script type="text/javascript"><!--
new Image().src = "//counter.yadro.ru/hit?r"+
        escape(document.referrer)+((typeof(screen)=="undefined")?"":
        ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
        screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
        ";h"+escape(document.title.substring(0,80))+
        ";"+Math.random();//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter28296001 = new Ya.Metrika({id:28296001, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/28296001" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
<div class="container">
  <div class="row">
    <div class="container-fluid col-sm-12 col-xs-12 visible-xs visible-sm">
      <div class="row" id="sm-top">
        <div class="container">
          <div class="col-xs-4 col-sm-4 left">
            <a href="/">Центр эпиляции<br>и косметологии</a>
          </div>
          <div class="col-xs-4 col-sm-4 center">
            +7 (843) 2000-322
          </div>
          <div class="col-xs-4 col-sm-4 right">
            <a class="btn btn-primary btn-sm" data-toggle="modal" href="#recall" style="margin-top:10px;">
              Перезвоните мне!
            </a>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 visible-md visible-lg" id="logo">
      <div class="wrapper">
        <a href="/"><%=image_tag 'logo.png'%></a>
        <div class="address">
          <div>ул. Спартаковская, 2а</div>
          <div style="margin: -3px 0px 5px 0px">пр. Ибрагимова, 54</div>
          <strong style="font-size: 1.2em;">+7 (843) 2000-322</strong><br>
          <a data-toggle="modal" data-target="#recall" style="cursor: pointer;margin-left: 0px;font-size: 13px;color: #f5edc5;text-decoration: underline">
            Заказать обратный звонок
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div id="promos-top" class="slick-slider">
        <% Promo.where('fl_top = 1 AND fl_active = 1').order('created_at DESC').each do |promo|%>
            <div style="display:none;">
            <table>
              <tr>
                <% if promo.id == 16%>
                    <td class="t">
                      <%=promo.banner.html_safe%>
                      <%=link_to "Подробнее о предложении", promo_path(promo), :class=>'btn btn-sm btn-primary'%>
                    </td>
                    <td class="i"><%=image_tag promo.photo.url(:medium)%></td>
                <% else %>
                    <td class="i"><%=image_tag promo.photo.url(:medium)%></td>
                    <td class="t">
                      <%=promo.banner.html_safe%>
                      <%=link_to "Подробнее о предложении", promo_path(promo), :class=>'btn btn-sm btn-primary'%>
                    </td>
                 <% end %>
              </tr>
            </table>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>