<%
  @issues = Issue.where('parent_id = 0').order('id ASC')
  @sections = Section.all
  current_section = 0
  current_service = 0
  current_issue_section = 0
  if @service != nil
      if @service.parent_id > 0
          parent = Service.where('id = ?',@service.parent_id).first
          current_service = parent.id
          sections = parent.sections
      else
          current_service = @service.id
          sections = @service.sections
      end
      if sections != nil && sections.first != nil
          current_section = sections.first.id
      end
      if current_section == 5
          current_service = @service.id
      end
  end
  if @issue != nil && @issue.parent_id > 0
      parent = Issue.where('id = ?',@issue.parent_id).first
      current_issue_section = parent.id
      current_issue = @issue.id
  end
%>
<!--<div style="padding: 10px 10px 10px 10px;background-color: #EFEFEF;font-size: 12px;">
  <div style="float:left;padding-top: 7px;padding-right: 10px;"><i class="glyphicon glyphicon-circle-arrow-down" style="font-size: 3.5em;text-shadow: 0px 0px 5px #555;color: #fff"></i></div>
  Кликните на проблеме, которая вас беспокоит и мы подскажем возможные пути решения
</div>-->
<div class="panel-group" style="margin: 10px 0px 0px 15px;" id="menu-services" data-current="<%=current_section%>">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">Наши услуги</h4>
    </div>
  </div>
  <%@sections.each do |section|%>
      <%services = section.services.where('fl_publish = 1').order('fl_order ASC')%>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=section.id%>"><%=section.name%></a>
          </h4>
        </div>
        <div id="collapse<%=section.id%>" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <%services.each do |service|%>
                  <li>
                    <%if current_service == service.id %>
                        <span><%=service.name%> &rarr;</span>
                    <% else %>
                        <%=link_to service_path(id:service.id, url:service.url) do %><%=service.name%><% end %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div class="panel-group" style="margin: 10px 0px 10px 15px;" id="menu-issues" data-current="<%=current_issue_section%>">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">Решаем проблемы</h4>
    </div>
  </div>
  <%@issues.each do |issue|%>
      <%iss = Issue.where('fl_show = 1 AND parent_id = ?',issue.id)%>
      <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=issue.id%>"><%=issue.name%></a>
      </h4>
    </div>
    <div id="collapse<%=issue.id%>" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
        <%iss.each_with_index do |issue,index|%>
            <li>
              <%if current_issue == issue.id %>
                  <span><%=issue.name%> &rarr;</span>
              <% else %>
                  <%=link_to issue_path(url:issue.url) do %><%=issue.name%><% end %>
              <% end %>
            </li>
        <% end %>
        </ul>
      </div>
    </div>
      </div>
  <% end %>
</div>