<div class="container-fluid" style="margin-top: 10px;margin-bottom: 0px;">
  <div class="row" id="navbar">
    <div class="container">
      <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!--<li class="visible-md visible-lg"><a href="/"><i class="icon-arrow-right-bold"></i> Главная</a></li>-->
              <%Menu.where('fl_type = 1').each do |item|%>
                <li <%if item.id == 3 %>class="visible-md visible-lg"<% end %>><a href="<%=item.actual_url%>"><i class="icon-<%=item.css_class%>"></i> <%=item.title%></a></li>
              <% end %>
              <li class="visible-md visible-lg"><a href="/faqs/"><i class="icon-question"></i> Вопрос-ответ</a></li>
              <li class="visible-md visible-lg"><a href="/shop/"><i class="icon-bag"></i> Магазин</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <div class="visible-md visible-lg social-icons">
                <!--<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#recall" style="margin-top:3px;font-size:1.4em;" title="Заказать обратный звонок">
                  <i class="icon-telephone"></i>
                </button>-->
                  <!--<a href="#recall" data-toggle="modal" class="btn btn-primary btn-sm">Заказать звонок</a>-->
                  <!--<%=mail_to MANAGER_EMAIL do %><%=image_tag 'icons/email.png'%><% end %>-->
                  <<!--<%=image_tag 'icons/phone.png', :data=>{:toggle=>'modal',:target=>'#recall'}%>-->
                  <a href="https://vk.com/centrkosmetologii" target="_blank"><%=image_tag 'icons/vkontakte.png'%></a>
                  <a href="http://instagram.com/centr_epilacii_i_cosmetologii" target="_blank"><%=image_tag 'icons/instagram.png'%></a>
                </div>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>
    </div>
  </div>
</div>