<h2 class="text-center">Популярные услуги</h2>
<div class="separator"></div>
<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300" style="padding:0px;margin: 0px;">

  <div class="container">
    <div class="row">
      <div class="col-md-12" style="padding-bottom: 0px;margin-bottom: 0px;">
        <!-- isotope filters start -->
        <div class="filters">
          <ul class="nav nav-pills">
            <li class="active"><a href="#" data-filter="*">Все</a></li>
            <li><a href="#" data-filter=".r1">Эпиляция</a></li>
            <li><a href="#" data-filter=".r2">Косметология</a></li>
            <li><a href="#" data-filter=".r4">Коррекция фигуры</a></li>
            <li><a href="#" data-filter=".r5">Массаж</a></li>
          </ul>
        </div>
        <!-- isotope filters end -->

        <!-- portfolio items start -->
        <div class="isotope-container row">
          <%Service.where('fl_publish = 1').order('fl_order ASC').limit(18).each do |service|%>
          <div class="col-sm-6 col-md-2 isotope-item r<%=service.sections.first.id%>">
            <div class="image-box">
              <div class="overlay-container" style="height:120px;">
                <img src="http://www.kosmetologiya-kazan.ru<%=service.photo.url(:medium)%>" alt="">
                <%=link_to service_path(id:service.id, url:service.url), :class=>"overlay small" do%>
                  <i class="fa fa-link"></i>
                <% end %>
              </div>
              <a href="<%=service_path(id:service.id, url:service.url)%>" class="btn btn-light-gray btn-block" style="text-transform: lowercase;font-size:11px;height:50px;"><%=service.name.truncate(50)%></a>
            </div>
          </div>
          <% end %>
        </div>
        <!-- portfolio items end -->

      </div>
    </div>
  </div>

</div>