<div class="section gray-bg clearfix" style="padding-top: 10px;">
  <h2 class="text-center">Наши специалисты</h2>
  <div class="container">

    <div class="owl-carousel carousel">
      <%@experts.each_with_index do |expert,index|%>
      <div class="image-box object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="<%=index*100%>">
         <div style="height:200px;overflow: hidden">
          <img src="http://www.kosmetologiya-kazan.ru<%=expert.photo.url(:medium)%>" alt="" style="margin: 10px auto 0px auto;">
         </div>
        <div class="image-box-body">
          <h3 class="title text-center"><a href="/experts/<%=expert.id%>"><%=expert.name%></a></h3>
          <p class="text-center"><%=expert.profession%></p>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>
<!-- section end -->