<%
   meta :title => @certificate.name,
        :description => Sanitize.clean(@certificate.preview).gsub("\n"," ").truncate(250)
%>
<div class="main col-md-8">
  <!-- page-title start -->
  <!-- ================ -->
  <h1 class="page-title"><%=@certificate.name%></h1>
  <!-- page-title end -->

  <!-- blogpost start -->
  <article class="clearfix blogpost full">
    <div class="blogpost-body">
      <div class="side">
        <div class="post-info">
          <span class="price"><%=@certificate.price%></span>
          <span class="month">рублей</span>
        </div>
      </div>
      <div class="blogpost-content">
        <header>
          <div class="submitted"><i class="fa fa-user pr-5"></i> от <a href="#">ЦЭиК</a></div>
        </header>
        <p><%=image_tag @certificate.photo.url%></p>
        <%=@certificate.content.html_safe%>
        <div>
          <%=render :partial => 'app/widgets/share'%>
        </div>
      </div>
    </div>
  </article>
  <%=render :partial => 'app/order', locals: {header:"Заказать сертификат",text: "Я хочу заказать подарочный сертификат. Перезвоните мне пожалуйста..."}%>
</div>
<div class="col-md-3 col-md-offset-1">
  <%=render partial: 'app/widgets/right'%>
</div>