<%
   meta :title => @certificate.name,
        :description => Sanitize.clean(@certificate.preview).gsub("\n"," ").truncate(250)
%>
<div class="main col-md-8">
  <!-- page-title start -->
  <!-- ================ -->
  <h1 class="page-title"><%=@certificate.name%></h1>
  <!-- page-title end -->

  <!-- blogpost start -->
  <article class="clearfix full">
        <%=@certificate.content.html_safe%>
  </article>
  <div class="well">
    <p><%=@certificate.preview.html_safe%></p>
  <%= form_for [Order.new] do |f| %>
      <input type="hidden" name="order[content]" value="<%=@certificate.name.gsub('Программа','').gsub('"','')%>">
      <input type="hidden" name="order[contacts]" value="">
      <input type="hidden" name="order[fl_type]" value="4">
      <input type="hidden" name="order[email]" value="">
      <input type="hidden" name="order[url]" value="">
      <input type="hidden" name="order[price]" value="<%=@certificate.price%>">
      <button type="submit" class="btn btn-primary" style="margin: 0px;">Заказать онлайн</button>
  <% end %>
  </div>
</div>
<div class="col-md-3 col-md-offset-1">
  <%=render partial: 'app/widgets/right'%>
</div>