<%
   meta :title => "Контактная информация центра эпиляции и косметлогии",
        :description => "Адрес, телефон, карта, маршруты проезда, время работы и многое другое "
%>
<div class="main col-md-12" id="contacts">
  <%if params[:id].to_i == 1%>
      <h1 class="page-title">Центр на Спартаковской</h1>
      <div class="separator-2"></div>
      <p><strong>Адрес:</strong> Казань, Вахитовский район, ул.Спартаковская, 2 к.1 (ТЦ &laquo;Караван&raquo;)<br> рядом ул. Островского, ул. Cалимжанова, ул. Петербургская, ул. Вишневского.</p>
      <p><strong>Телефоны:</strong>+7 (843) 2000-322</p>
      <p><strong>Электронная почта:</strong> <%=mail_to MANAGER_EMAIL%></p>
      <p><strong>Лицензия:</strong> ЛО-16-01-005324 от 08.08.2016</p>
      <p><strong>Юр. лицо:</strong> ООО "Хелси джой"</p>
      <p><strong>Время работы:</strong> пн-сб с 9.00 до 21.00. В воскресенье c 10:00 до 20:00</p>
      <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-12"><%=image_tag 'saloon2.jpg',:class=>"img-responsive"%></div>
      </div>
      <div style="padding: 10px 0px 0px 0px;"><%=link_to "Посмотреть фотографии внутри салона", gallery_path %></div>
      <h4>Схема проезда</h4>
      <p>Центр эпиляции и косметологии находится в самом центре Казани, недалеко от площади Тукая и парка Тысячелетия, рядом с Баскет холлом в здании ТЦ &laquo;Караван&raquo;. Оборудован отдельный вход, снабжённый заметной вывеской.</p>
      <p>Для упрощения навигации отметим, что наш косметологический центр окружён улицами Пушкина, Татарстан, Вишневского, Салимжанова и Эсперантно.</p>
      <p>
        <strong>Проезд общественным транспортом:</strong>
      <ul>
        <li>Автобусы: 1, 2, 31, 37, 47, 74 до остановки &laquo;ул. Айдинова&raquo; (Баскет холл)</li>
        <li>Автобусы: 12, 6, 8 до остановки &laquo;Торговые ряды Алтын&raquo;</li>
        <li>Метро: проезд до станции &laquo;прощадь Тукая&raquo;, после чего 5 минут неспешной прогулки по красивому парку с фонтаном.</li>
      </ul>
      </p>
      <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=sE4ujptfsodUyF9gGzqM5lmUrPiIVRN0&width=786&height=609&lang=ru_RU&sourceType=constructor"></script>
  <%elsif params[:id].to_i == 2%>
      <h1 class="page-title">Центр на Ибрагимова</h1>
      <div class="separator-2"></div>
      <p><strong>Адрес:</strong> Казань, Московский район, пр. Ибрагимова, 54 (Фитнес центр &laquo;Олимп&raquo;) <br> рядом ул. Декабристов, ул. Восстания, ул. Вахитова</p>
      <p><strong>Телефоны:</strong> +7 (843) 2000-322</p>
      <p><strong>Электронная почта:</strong> <%=mail_to MANAGER_EMAIL%></p>
      <p><strong>Лицензия:</strong> ЛО-16-01-005324 от 08.08.2016</p>
      <p><strong>Юр. лицо:</strong> ООО "Хелси джой"</p>
      <p><strong>Время работы:</strong> пн-сб с 9.00 до 21.00. В воскресенье c 10:00 до 20:00</p>
      <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-12"><%=image_tag 'olymp.png',:class=>"img-responsive"%></div>
      </div>
      <div style="padding: 10px 0px 0px 0px;"><%=link_to "Посмотреть фотографии внутри салона", gallery_path(:album_id=>2) %></div>
      <h4>Схема проезда</h4>
      <p>Наш второй центр находится районе пересеченя проспекта Ибрагимова и улицы Декабристов, в месте соприкосновения 3-х районов Казани: Кировского, Московского и Ново-савиновского, что обуславливает его высокую транспортную доступность.</p>
      <p>Центр располагается в новом здании одного из самых крупных фитнес центров города, рядом с крупным торговым центром Тандем</p>
      <p>
        <strong>Проезд общественным транспортом:</strong>
      <ul>
        <li>Автобусы: 15, 22, 98. 35а, 29, 47 до ост. "Гуманитарный институт"</li>
        <li>Автобусы: 28, 35, 37, 15, 37, 10 до ост. "ТРК Тандем"</li>
        <li>Метро: проезд до станции &laquo;козья Слобода&raquo;, после чего 5 минут неспешной прогулки по удобной дорожке</li>
      </ul>
      </p>
      <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=CYkHPrm3cnuJPZhYThBza43ZeOqhUNsJ&width=786&height=609&lang=ru_RU&sourceType=constructor"></script>
  <%elsif params[:id].to_i == 3%>
      <h1 class="page-title">Центр на Сибгата Хакима</h1>
      <div class="separator-2"></div>
      <p><strong>Адрес:</strong> Казань, Ново-Савиновский район, ул. Сибгата Хакима, 42 (напротив аквапарка Ривьера) <br> рядом пр.Фатыха Амирхана, ул. Чистопольская</p>
      <p><strong>Телефоны:</strong> +7 (843) 2000-322</p>
      <p><strong>Электронная почта:</strong> <%=mail_to MANAGER_EMAIL%></p>
      <p><strong>Лицензия:</strong> ЛО-16-01-005324 от 08.08.2016</p>
      <p><strong>Юр. лицо:</strong> ООО "Хелси джой"</p>
      <p><strong>Время работы:</strong> пн-сб с 9.00 до 21.00. В воскресенье c 10:00 до 20:00</p>
      <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-12"><%=image_tag 'saloon_hakima.jpg',:class=>"img-responsive"%></div>
      </div>
      <!--<div style="padding: 10px 0px 0px 0px;"><%=link_to "Посмотреть фотографии внутри салона", gallery_path(:album_id=>2) %></div>-->
      <h4>Схема проезда</h4>
      <p>Наш Центр находится в Ново-Савиновском районе, по улице пр. Фатыха Амирхана. Вход со стороны пр. Фатыха Амирхана.</p>
      <p>Центр располагается в новом здании, напротив Казанского аквапарка Ривьера, недалеко от Дворца Единоборств Ак Барс.</p>
      <p>
        <strong>Проезд общественным транспортом:</strong>
      <ul>
        <li>Автобусы: 43, 54, 74 А до ост. "Сибгата Хакима" со стороны моста Милленимум.</li>
        <li>Автобусы: 28, 43, 54,74 до ост. "Сибгата Хакима", со стороны ул. Чистопольской, ул. Четаева, пр.Ямашева.</li>
        <li>Выйдя на остановке, необходимо перейти на противоположную сторону улицы (на сторону заправки "Лукойл") и пройти вперед в сторону моста Милленимум (занимает не более 5 минут).</li>
      </ul>
      </p>
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=E4mJInlqU4s0dDRygyBpGEAYhBvpHD42&width=786&height=609&lang=ru_RU&sourceType=constructor&scroll=true"></script>
  <% else %>
      <div class="main col-md-12 col-xs-12" id="news">
        <div class="masonry-grid-fitrows row grid-space-20" style="padding-top: 50px;">
          <div class="col-md-4 col-sm-6 masonry-grid-item col-xs-12">
            <div class="listing-item">
              <div style="height: 220px;overflow: hidden">
                <%=image_tag 'saloon2.jpg',:class=>"img-responsive"%>
              </div>
              <div class="listing-item-body clearfix" style="height: 160px;">
                <div style="height: 100px;">
                  <h3 class="title"><a href="/contacts/1" style="text-decoration: underline">Центр на Спартаковской</a></h3>
                  <p style="color: #000;">Казань, Вахитовский район, ул.Спартаковская, 2 к.1 (ТЦ &laquo;Караван&raquo;)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 masonry-grid-item col-xs-12">
            <div class="listing-item">
              <div style="height: 220px;overflow: hidden">
                <%=image_tag 'olymp2.png',:class=>"img-responsive"%>
              </div>
              <div class="listing-item-body clearfix" style="height: 160px;">
                <div style="height: 100px;">
                  <h3 class="title"><a href="/contacts/2" style="text-decoration: underline">Центр на Ибрагимова</a></h3>
                  <p style="color: #000;">Казань, Московский район, пр. Ибрагимова, 54 (Фитнес центр &laquo;Олимп&raquo;)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 masonry-grid-item col-xs-12">
            <div class="listing-item">
              <div style="height: 220px;overflow: hidden">
                <%=image_tag 'saloon_hakima.jpg',:class=>"img-responsive"%>
              </div>
              <div class="listing-item-body clearfix" style="height: 160px;">
                <div style="height: 100px;">
                  <h3 class="title"><a href="/contacts/3" style="text-decoration: underline">Центр на Сибгата Хакима</a></h3>
                  <p style="color: #000;">Казань, Ново-Савиновский район, ул. Сибгата Хакима, 42 (напротив аквапарка &laquo;Ривьера&raquo;)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
