<%
   meta :title => "Отзывы о Центре эпиляции и косметологии в Казани",
        :description => "Отзывы клиентов о качестве обслуживания в казанском центре эпиляции и косметологии"
%>
<div id="reviews">
  <div class="page-header">
    <div style="float:right">
        Сортировать <select id="sort"><option value="asc" <%if !params.has_key?('sort') || params['sort'] == 'asc'%>selected<% end %>>в порядке добавления</option>
                                      <option value="desc" <%if params['sort'] == 'desc'%>selected<% end %>>сначала новые</option></select>
    </div>
    <h1>Отзывы о Центре эпиляции и косметологии</h1>
  </div>
  <table class="table">
    <%@reviews.each do |review|%>
        <tr>
          <td class="img">
            <div class="author"><%=review.person%></div>
            <% if review.photo_file_name %>
            <%=image_tag review.photo.url(:medium), :class=>'img-rounded'%>
            <% end %>
          </td>
          <td>
            <%=review.content.html_safe%>
            <%if review.anounce.length > 5%>
                <p><a class='youtube btn btn-sm btn-info' href="<%=review.anounce.gsub('watch?v=','embed/') + '?rel=0&wmode=transparent'%>">Посмотреть видео</a></p>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
  <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
</div>