<%
   if defined?@service
    title = "Отзывы о процедуре #{@service.name} в Казани"
    descr = "Отзывы клиентов о процедуре #{@service.name} проведённой в Казани"
 else
    title = "Отзывы о Центре эпиляции и косметологии в Казани"
    descr = "Отзывы клиентов о качестве обслуживания в казанском центре эпиляции и косметологии"
 end
   meta :title => title,
        :description => descr
%>
<div class="main col-md-9" id="news">
  <h1 class="page-title" style="font-size:2.0em;"><%=title%></h1>
  <div style="margin-bottom: 20px;margin-top: 20px;">
    Сортировать <select id="sort"><option value="asc" <%if !params.has_key?('sort') || params['sort'] == 'asc'%>selected<% end %>>в порядке добавления</option>
    <option value="desc" <%if params['sort'] == 'desc'%>selected<% end %>>сначала новые</option></select>
  </div>
  <table class="table">
    <%@reviews.each do |review|%>
        <tr>
          <td class="img">
            <div class="author"><%=review.person%></div>
            <% if review.photo_file_name %>
            <%=image_tag review.photo.url(:medium), :class=>'img-rounded'%>
            <% end %>
          </td>
          <td>
            <%=review.content.html_safe%>
            <%if review.anounce.length > 5%>
                <p><a class='youtube btn btn-sm btn-info' href="<%=review.anounce.gsub('watch?v=','embed/') + '?rel=0&wmode=transparent'%>">Посмотреть видео</a></p>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
  <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
</div>
<div class="col-md-3">
  <div style="padding-top: 30px;">
    <%=render partial: 'app/widgets/vk_group'%>
    <%=render partial: 'app/widgets/certificates', locals: {certificates: Certificate.order('RAND()').limit(1),mode: 'right'}%>
  </div>
</div>