<div class="top_bg container-fluid">
  <div class="container">
    <div class="row hidden-xs">
      <img src="http://beauty-season-center.ru/img/hand.png" class="hand hidden-sm hidden-xs" alt="">
      <div class="tablet">
        <div class="video_box">
          <iframe src="https://www.youtube.com/embed/tAz7tdNc1qc?rel=0&amp;showinfo=0&autoplay=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row hidden-sm hidden-md hidden-lg">
      <div class="video_box2 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tAz7tdNc1qc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="wave_bg container-fluid"></div>
<div class="think container">
  <div class="green_trn"></div>
  <div class="row text-center">
    <img src="http://beauty-season-center.ru/img/circle.jpg" class="hidden-xs think_circle" alt="">
    <div class="th_col col-lg-8 col-lg-offset-2">
      <h2 class="medium text-uppercase">Что Вы думаете о себе,<br/>глядя в зеркало?</h2>
      <p class="sm_bold">Улыбаетесь или, по привычке, ищете недостатки?</p>
      <p><strong>Попробуйте новый подход к уходу за собой в BEAUTY SEASON.</strong></p>
      <p>Все для Вашего совершенства - в одном месте.</p>
      <p>У женщины только один сезон...</p>
      <p>Сезон красоты. И мы вас к нему подготовим!</p>
    </div>
  </div>
</div>
<div class="packages container" id="packages2">
  <div class="row text-center text-uppercase medium">
    <h2>Выберите, чего Вы хотите сейчас</h2>
  </div>
  <div class="row">
    <div class="pack_col col-md-5 col-md-offset-1 col-sm-6">
      <div class="pack_box pack1">
        <div class="pack_img"></div>
        <div class="pack_content">
          <p class="pack_name sm_bold">Чистая сияющая кожа</p>
          <p><span>питание и увлажнение</span></p>
          <p><span>устранение пигментных пятен, акне, рубцов</span></p>
          <p><span>придание коже упругости и свежести</span></p>
          <p><span>мгновенное омоложение и подтяжка</span></p>
          <p><span>удаление татуажа</span></p>
          <p><span>подбор профессионального ухода</span></p>
        </div>
        <div class="pack_btn">
          <a href="#order-modal" data-toggle="modal" data-target=".bs-example-modal-sm1">Хочу красивую кожу</a>
        </div>
      </div>
    </div>
    <div class="pack_col2 col-md-5 col-sm-6">
      <div class="pack_box pack2">
        <div class="pack_img"></div>
        <div class="pack_content">
          <p class="pack_name sm_bold">Сногсшибательная гладкость</p>
          <p><span>удаление нежелательных волос</span></p>
          <p><span>безболезненно и надолго</span></p>
          <p><span>любые зоны тела</span></p>
          <p><span>доступно и женщинам, и мужчинам</span></p>
        </div>
        <div class="pack_btn">
          <a href="#order-modal" data-toggle="modal" data-target=".bs-example-modal-sm1">Хочу шелковистой гладкости</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pack_col col-md-5 col-md-offset-1 col-sm-6">
      <div class="pack_box pack3">
        <div class="pack_img"></div>
        <div class="pack_content">
          <p class="pack_name sm_bold">Красивое упругое тело</p>
          <p><span>возвращение коже гладкости и упругости</span></p>
          <p><span>устранение растяжек и рубцов</span></p>
          <p><span>избавление от целлюлита</span></p>
          <p><span>уменьшение объемов в проблемных зонах</span></p>
        </div>
        <div class="pack_btn">
          <a href="#order-modal" data-toggle="modal" data-target=".bs-example-modal-sm1">Хочу идеальное тело</a>
        </div>
      </div>
    </div>
    <div class="pack_col2 col-md-5 col-sm-6">
      <div class="pack_box pack4">
        <div class="pack_img"></div>
        <div class="pack_content">
          <p class="pack_name sm_bold">Здоровые густые волосы</p>
          <p><span>избавление от выпадения</span></p>
          <p><span>лечение перхоти</span></p>
          <p><span>возвращение силы и шелковистости ослабленным волосам</span></p>
        </div>
        <div class="pack_btn">
          <a href="#order-modal" data-toggle="modal" data-target=".bs-example-modal-sm1">Хочу шикарные волосы</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="any_block container-fluid">
  <img src="http://beauty-season-center.ru/img/waves3.svg" width="230" class="waves2 hidden-xs" alt="">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="out_box">
          <div class="in_box text-center">
            <h2 class="medium text-uppercase">Выберите любое желание</h2>
            <p>Заполните короткую форму и получите сертификат на <span class="sm_bold">1000 руб. на любую процедуру</span> и <span class="sm_bold">20 минут</span> бесплатной консультации специалиста</p>
            <a href="#order-modal" data-toggle="modal" data-target=".bs-example-modal-sm1" class="choose_now">Выбрать сейчас</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog container">
  <div class="row text-center text-uppercase medium">
    <h2>Узнайте больше об особенностях каждой процедуры</h2>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="art_box art_box1">
        <a href="http://www.kosmetologiya-kazan.ru/services/6-chistka-lica.html" target="_blank"><div class="art_img"></div></a>
        <a href="http://www.kosmetologiya-kazan.ru/services/6-chistka-lica.html" target="_blank" class="art_title">Черные точки как с ними бороться?</a>
        <p>Черные точки: откуда они берутся и как с ними бороться. Врачи Центра эпиляции и косметологии отвечают на самые распространенные вопросы.</p>
        <div class="waves1"></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="art_box art_box2">
        <a href="http://www.kosmetologiya-kazan.ru/services/79-lasernaya-epilyaciya.html" target="_blank"><div class="art_img"></div></a>
        <a href="http://www.kosmetologiya-kazan.ru/services/79-lasernaya-epilyaciya.html" target="_blank" class="art_title">Какой самый эффективный способ избавления от волос навсегда?</a>
        <p>В чём основные плюсы и минусы различных видов эпиляции?</p>
        <div class="waves1"></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="art_box art_box3">
        <a href="http://www.kosmetologiya-kazan.ru/services/137-dot+rf-omolozhenie.html" target="_blank"><div class="art_img"></div></a>
        <a href="http://www.kosmetologiya-kazan.ru/services/137-dot+rf-omolozhenie.html" target="_blank" class="art_title">Как продлить молодость кожи?</a>
        <p>За одну процедуру устранить морщины, осветлить пигментацию, выровнить рельеф кожи</p>
        <div class="waves1"></div>
      </div>
    </div>
  </div>
</div>
<div class="reviews container-fluid">
  <img src="http://beauty-season-center.ru/img/rev_wave.png" class="rev_wave" alt="">
  <div class="container">
    <div class="row text-center text-uppercase medium">
      <h2>Что говорят о нас постоянные клиенты</h2>
    </div>
    <div class="row">
      <a href="#" class="arrow slider_left hidden-xs"></a>
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <div class="review_box">
          <div class="slide1 animated">
            <img src="http://beauty-season-center.ru/img/rev_photo1.png" class="rev_photo" alt="">
            <p class="rev_name">Алина</p>
            <p class="rev_pos">клиент Beauty Season</p>
            <p>Добрый день, меня зовут Алина. И в Центр эпиляции и косметологии я уже хожу год. И ни разу не разочаровалась в услугах предоставленных мне, что бы это не было. Ходила я на чистку, на маникюр, на эпиляцию и многие другие процедуры, которые я здесь принимала. Лучше, чем здесь никого нет. Мастеров лучше, чем здесь Вы нигде не найдете. Я поздравляю всех с Новым Годом! Желаю всем ощущать себя также как после процедур, как я ощущаю себя после здешних процедур, на все 1000% в Новом Году! И пожелать Всем здоровья и успеха! А Центру эпиляции и косметологии расширение во всех масштабах! Здоровья вашим специалистам! Желаю также бесконфликтных клиентов и хотелось бы отметить, что у Вас самый вкусный кофе!</p>
          </div>
          <div class="slide2 animated">
            <img src="http://beauty-season-center.ru/img/rev_photo2.png" class="rev_photo" alt="">
            <p class="rev_name">Татьяна</p>
            <p class="rev_pos">клиент Beauty Season</p>
            <p>Я сейчас прошла лимфодренажный массаж. Я еще пока сейчас в облаках) Внятно я ничего Вам не могу сказать) Было очень приятно. Во первых не только принять эту процедуру, но и еще поговорить о том, что мы делали, с чем мы боремся, что мы хотели получить. Получила колоссальное количество информации. Сейчас я это все перевариваю, одновременно я в каком то потрясающем релаксе. Восхитительно! Прекрасно! Огромное спасибо салону! Огромное спасибо профессионалам! Я буду еще здесь и не один раз!</p>
          </div>
          <div class="slide3 animated">
            <img src="http://beauty-season-center.ru/img/rev_photo3.png" class="rev_photo" alt="">
            <p class="rev_name">Гульнара</p>
            <p class="rev_pos">клиент Beauty Season</p>
            <p>Я прошла процедуру ультразвуковой кавитации в Центре эпиляции и косметологии. В целом очень довольна, прошла комплекс, который состоит из 5 процедур. Сама процедура проходила в очень комфортных условиях. Можно отметить косметолога Лилию Адгамовну, которая просто великолепно проводила процедуру. Было очень приятно отдохнуть под ее руками, и хочу отметить, что все таки важно соблюдать правильное питание, заниматься спортом,и только при этом можно получить колоссальный результат. Я получила результат минус 7 кг, за что огромное спасибо Центру эпиляции и косметологии!</p>
          </div>
        </div>
      </div>
      <a href="#" class="arrow slider_right hidden-xs"></a>
      <input type="hidden" name="slide_num" value="1">
    </div>
  </div>
</div>
<div class="workers container hidden-sm hidden-xs">
  <div class="row text-center text-uppercase medium">
    <h2>Кто поможет Вам стать еще красивее</h2>
  </div>
  <div class="work_row">
    <%Expert.where('id in (?)',[14, 33, 23, 12, 27]).each do |expert|%>
    <div class="work_box">
      <div style="height:294px;overflow-y:hidden"><img src="http://www.kosmetologiya-kazan.ru<%=expert.photo%>" class="img-responsive" alt=""></div>
      <div class="work_info green_info text-center">
        <p class="sm_bold"><a href="/experts/<%=expert.id%>" style="color:#fff;"><%=expert.name%></a></p>
        <p class="medium"><%=expert.profession%></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="modal fade bs-example-modal-sm1" id="order_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row equal">
          <div class="col-lg-6 col-md-6 r_col_0 l_col_0">
            <div class="order_img"></div>
          </div>
          <div class="l_col_0 col-lg-6 r_col_0 col-md-6">
            <div class="right_side">
              <p class="text-center">Оставьте свои контакты, чтобы получить сертификат на <span>1000 руб. на любую процедуру</span> и <span>20 минут</span> бесплатной консультации специалиста</p>
              <div class="order_form">
                  <%=render :partial=>'app/order/form'%>
              </div>
              <p class="spam_p">* Сертификат действителен 7 дней</p>
              <p class="spam_p">* Сертификатом можно оплатить до 50% стоимости процедуры</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-sm5" id="polytics" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <p>Ваша конфиденциальность очень важна для нас. Мы хотим, чтобы Ваша работа в Интернет по возможности была максимально приятной и полезной, и Вы совершенно спокойно использовали широчайший спектр информации, инструментов и возможностей, которые предлагает Интернет.</p>
      <p>Личная информация, собранная при оформлении заявки (или в любое другое время) преимущественно используется для подготовки Продуктов или Услуг в соответствии с Вашими потребностями. Ваша информация не будет передана или продана третьим сторонам.</p>
      <p><strong>Какие данные собираются на сайте</strong></p>
      <p>При добровольной регистрации на скидку вы отправляете свое Имя и Телефон через форму.</p>
      <p><strong>С какой целью собираются эти данные</strong></p>
      <p>Имя используется для обращения лично к вам, а ваш e-mail для отправки вам писем рассылок, новостей саммита, полезных материалов.</p>
      <p>Ваши имя и телефон не передаются третьим лицам, ни при каких условиях кроме случаев, связанных с исполнением требований законодательства.</p>
      <p>Вы можете отказаться от получения писем рассылки и удалить из базы данных свои контактные данные в любой момент, кликнув на ссылку для отписки, присутствующую в каждом письме.</p>
      <p><strong>Как эти данные используются</strong></p>
      <p>При помощи этих данных собирается информация о действиях посетителей на сайте с целью улучшения его содержания, улучшения функциональных возможностей сайта и, как следствие, создания качественного контента и сервисов для посетителей.</p>
      <p>Вы можете в любой момент изменить настройки своего браузера так, чтобы браузер блокировал все файлы cookie или оповещал об отправке этих файлов. Учтите при этом, что некоторые функции и сервисы не смогут работать должным образом.</p>
      <p><strong>Как эти данные защищаются</strong></p>
      <p>Для защиты Вашей личной информации мы используем разнообразные административные, управленческие и технические меры безопасности. Наша Компания придерживается различных международных стандартов контроля, направленных на операции с личной информацией, которые включают определенные меры контроля по защите информации, собранной в Интернет.</p>
      <p>Наших сотрудников обучают понимать и выполнять эти меры контроля, они ознакомлены с нашим Уведомлением о конфиденциальности, нормами и инструкциями.</p>
      <p>Тем не менее, несмотря на то, что мы стремимся обезопасить Вашу личную информацию, Вы тоже должны принимать меры, чтобы защитить ее.</p>
      <p>Мы настоятельно рекомендуем Вам принимать все возможные меры предосторожности во время пребывания в Интернете. Организованные нами услуги и веб-сайты предусматривают меры по защите от утечки, несанкционированного использования и изменения информации, которую мы контролируем. Несмотря на то, что мы делаем все возможное, чтобы обеспечить целостность и безопасность своей сети и систем, мы не можем гарантировать, что наши меры безопасности предотвратят незаконный доступ к этой информации хакеров сторонних организаций.</p>
      <p>В случае изменения данной политики конфиденциальности вы сможете прочитать об этих изменениях на этой странице или, в особых случаях, получить уведомление на свой e-mail.</p>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-sm6" id="response" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <p>В соответствии с действующим законодательством, Администрация отказывается от каких-либо заверений и гарантий, предоставление которых может иным образом подразумеваться, и отказывается от ответственности в отношении Сайта, Содержимого и их использования.</p>
      <p>Ни при каких обстоятельствах Администрация Сайта не будет нести ответственности ни перед какой стороной за какой-либо прямой, непрямой, особый или иной косвенный ущерб в результате любого использования информации на этом Сайте или на любом другом сайте, на который имеется гиперссылка с нашего cайта, возникновение зависимости, снижения продуктивности, увольнения или прерывания трудовой активности, а равно и отчисления из учебных учреждений, за любую упущенную выгоду, приостановку хозяйственной деятельности, потерю программ или данных в Ваших информационных системах или иным образом, возникшие в связи с доступом, использованием или невозможностью использования Сайта, Содержимого или какого-либо связанного интернет-сайта, или неработоспособностью, ошибкой, упущением, перебоем, дефектом, простоем в работе или задержкой в передаче, компьютерным вирусом или системным сбоем, даже если администрация будет явно поставлена в известность о возможности такого ущерба.</p>
      <p>Пользователь соглашается с тем, что нормы и законы о защите прав потребителей не могут быть применимы к использованию им Сайта, поскольку он не оказывает возмездных услуг.</p>
      <p>Используя данный Сайт, Вы выражаете свое согласие с "Отказом от ответственности" и установленными Правилами и принимаете всю ответственность, которая может быть на Вас возложена.</p>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-sm7" id="agree" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--sdsad-->
      <p>Заполняя форму на нашем сайте — вы соглашаетесь с нашей политикой конфиденциальности. Также вы соглашаетесь с тем, что мы имеем право разглашать ваши личные данные в следующих случаях:</p>
      <p>1) С Вашего согласия: Во всех остальных случаях перед передачей информации о Вас третьим сторонам наша Компания обязуется получить Ваше явное согласие. Например, наша Компания может реализовывать совместное предложение или конкурс с третьей стороной, тогда мы попросим у Вас разрешение на совместное использование Вашей личной информации с третьей стороной.</p>
      <p>2) На совместно позиционируемых или партнерских страницах: Наша Компания может делиться информацией с компаниями-партнерами, вместе с которыми реализует специальные предложения и мероприятия по продвижению товара на совместно позиционируемых страницах нашего сайта. При запросе анкетных данных на таких страницах Вы получите предупреждение о передаче информации. Партнер использует любую предоставленную Вами информацию согласно собственному уведомлению о конфиденциальности, с которым Вы можете ознакомиться перед предоставлением информации о себе.</p>
      <p>Вся личная информация, которая передана Вами для регистрации на нашем сайте, может быть в любой момент изменена либо полностью удалена из нашей базы по Вашему запросу. Для этого Вам необходимо связаться с нами любым удобным для Вас способом, использую контактную информацию, размещенную в специальном разделе нашего сайта.</p>
      <p>Если Вы захотите отказаться от получения писем нашей регулярной рассылки, вы можете это сделать в любой момент с помощью специальной ссылки, которая размещается в конце каждого письма.</p>
    </div>
  </div>
</div>
<script src="http://beauty-season-center.ru/js/jquery-scrollto.js"></script>
<script>
    $(document).ready(function(){
        $('.choose_now').on('click', function(e){
            e.preventDefault();
            $("#packages2").ScrollTo(
                {
                    duration: 1000,
                    easing: 'linear'
                });
        });
    });
</script>