<%
   meta :title => @post.name,
        :description => Sanitize.clean(@post.content).gsub("\n"," ").truncate(250)

   content = @post.content.dup
   content = content.gsub(/<p>[^а-яА-Яa-zA-Z0-9]*\{alert ([^\}]+)\}[^<]*<\/p>/i,'<div class="alert alert-\\1">')
   content = content.gsub(/<p>[^а-яА-Яa-zA-Z0-9]*\{\/alert\}[^<]*<\/p>/i,'</div>')
%>
<div class="main col-md-9">
  <!-- page-title start -->
  <!-- ================ -->
  <h1 class="page-title"><%=@post.name%></h1>
  <!-- page-title end -->

  <!-- blogpost start -->
  <article class="clearfix blogpost full">
    <%if @post.category_id == 33 %>
        <%=content.html_safe%>
    <% else %>
    <div class="blogpost-body">
       <div style="padding-bottom:10px;">
         <%=@post.created_at.strftime("%d.%m.%Y")%> <i class="fa fa-user pr-5"></i> от <a href="#">ЦЭиК</a>
       </div>
        <% if @post.photo.exists? %>
        <p><%=image_tag @post.photo.url%></p>
        <% end %>
        <%=content.html_safe%>
    </div>
    <% end %>
    <div>
      <script type="text/javascript">
        VK.init({apiId: 5163251, onlyWidgets: true});
      </script>
      <!-- Put this div tag to the place, where the Comments block will be -->
      <div id="vk_comments"></div>
      <script type="text/javascript">
        VK.Widgets.Comments("vk_comments", {limit: 10, width: "665", attach: false});
      </script>
    </div>
  </article>
  <%=render :partial => 'app/order', locals: {text: "Я хочу заказать обратный звонок. Перезвоните мне пожалуйста..."}%>
</div>
<div class="col-md-3">
  <%=render partial: 'app/widgets/right'%>
</div>