<div id="service">
  <div class="page-header">
    <h1><%=@medicament.name%></h1>
  </div>
  <div><%=image_tag @medicament.photo%></div>
  <%=@medicament.content.html_safe%>
  <table id="solution">
    <tr>
      <td class="left">
        <div id="price">
          <div class="page-header">
            <h2>Прайс лист</h2>
          </div>
          <%=render :partial => 'app/pricelist', :locals => {:pricelist=>@pricelist}%>
        </div>
      </td>
      <td class="right">
        <div class="page-header">
          <h2>Ещё похожие</h2>
        </div>
        <ul>
        <%@same.each do |medicament|%>
          <li><%=link_to medicament.name, medicament_path(medicament)%></li>
        <% end %>
        </ul>
      </td>
    </tr>
  </table>
</div>
