<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <%= stylesheet_link_tag    "v3/controller/#{params[:controller]}", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%=render :partial=>'app/favicons'%>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=oDcsRbrtGtcCIxNtBTnYQsmfZSuIPLibWDtKrB5pelpwyXDs7KfcHnDVcyEhJGM3v0*ErTgfY1e6im8O3ToAfJ9q4vG3BdEYklz8HC*6JY8AI2yfl9tv6wYU82TOuDgZKFbjUp0ZQhGYUF78p5*Vpg83we/Ba2KfGp6QFRuPJwA-&pixel_id=1000087783';</script>
  <script>
    (function(w, d, s, h, id) {
      w.roistatProjectId = id; w.roistatHost = h;
      var p = d.location.protocol == "https:" ? "https://" : "http://";
      var u = /^.roistat_visit=[^;]+(.)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/"+id+"/init";
      var js = d.createElement(s); js.async = 1; js.src = p+h+u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);
    })(window, document, 'script', 'cloud.roistat.com', '01529747dadd912c0d828382331e0b11');
  </script>
</head>
<body class="no-trans">
<div class="page-wrapper">
  <%=render :partial => 'app/header'%>
  <%=render :partial => 'app/breadcrumbs'%>
  <section class="main-container" style="padding-top: 0px;">
    <div class="container">
      <div class="row">
        <%=yield%>
      </div>
    </div>
  </section>
  <%= javascript_include_tag "v3/controller/#{params[:controller]}" %>
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>
  <%=render :partial => 'app/footer'%>
</div>
<%=render :partial => 'app/widgets/jivosite'%>
</body>
</html>
