<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <%= stylesheet_link_tag    "v3/controller/#{params[:controller]}", media: "all" %>
  <%= javascript_include_tag "v3/controller/#{params[:controller]}" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/extra.css" media="all" rel="stylesheet"/>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <script src="/js/func.js"></script>
  <script src="/js/script.js"></script>
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>
</head>
<body class="no-trans">
<div class="page-wrapper">
  <%=render :partial => 'app/header'%>
  <%=render :partial => 'app/breadcrumbs'%>
  <section class="main-container" style="padding-top: 0px;">
    <div class="container">
      <div class="row">
        <%=yield%>
      </div>
    </div>
  </section>
  <%=render :partial => 'app/footer'%>
</div>
<%=render :partial => 'app/widgets/jivosite'%>
</body>
</html>
