<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <%= stylesheet_link_tag    "v3/controller/#{params[:controller]}", media: "all" %>
  <%= javascript_include_tag "v3/controller/#{params[:controller]}" %>
  <%= csrf_meta_tags %>
</head>
<body class="no-trans">
<div class="scrollToTop"><i class="icon-up-open-big"></i></div>
<div class="page-wrapper">
  <%=render :partial => 'app/header'%>
  <%=render :partial => 'app/breadcrumbs'%>
  <section class="main-container" style="padding-top: 0px;">
    <div class="container">
      <div class="row">
        <%=yield%>
      </div>
    </div>
  </section>
  <%=render :partial => 'app/footer'%>
</div>
</body>
</html>
