<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=render 'app/header'%>
<%=render 'app/navbar'%>
<div class="container" id="content-wrapper">
  <noindex>
  <%=render 'app/banners/top'%>
  </noindex>
  <div class="row">
    <div class="col-md-12" style="padding-left: 0px;">
      <table width="100%">
        <tr>
          <td class="left">
              <%=render :partial => 'app/issues'%>
          </td>
          <td class="main"><%= yield %></td>
        </tr>
      </table>
    </div>
  </div>
  <%=render 'app/footer' %>
</div>
<noindex>
<%=render :partial => 'app/modal/recall'%>
</noindex>
</body>
</html>
