<!DOCTYPE html>
<html>
<head>
  <title>Эпиляция  Казань, косметология Казань</title>
  <meta name="description" content="Центр эпиляции и косметологии Казань" />
  <meta name="keywords" content="эпиляция, косметология, центр красоты, эпиляция казань, косметология казань, центр красоты казань " />
  <meta name='yandex-verification' content='567925f6d8ccf0e9' />
  <meta name="google-site-verification" content="56fk9dV_cGNYMPMkwXgpOI6cOWWp6YRheeqZOo9g-vI" />
  <%= stylesheet_link_tag    "v3/controller/main", media: "all" %>
  <%= javascript_include_tag "v3/controller/main" %>
  <%= csrf_meta_tags %>
  <link href="/css/extra.css" media="all" rel="stylesheet"/>
  <script src="/js/func.js"></script>
  <script src="/js/script.js"></script>
</head>
<body class="no-trans">
<div class="scrollToTop"><i class="icon-up-open-big"></i></div>
<div class="page-wrapper">
  <%=render :partial => 'app/header'%>
  <%=render :partial => 'app/breadcrumbs'%>
  <%=yield%>
  <%=render :partial => 'app/footer'%>
</div>
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'B7gkMJxK7P';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
</body>
</html>
