<!DOCTYPE html>
<html>
<head>
  <title>Эпиляция  Казань, косметология Казань</title>
  <meta name="description" content="Центр эпиляции и косметологии Казань" />
  <meta name="keywords" content="эпиляция, косметология, центр красоты, эпиляция казань, косметология казань, центр красоты казань " />
  <meta name='yandex-verification' content='567925f6d8ccf0e9' />
  <meta name="google-site-verification" content="56fk9dV_cGNYMPMkwXgpOI6cOWWp6YRheeqZOo9g-vI" />
  <%= stylesheet_link_tag    "v3/controller/main", media: "all" %>
  <%= javascript_include_tag "v3/controller/main" %>
  <%= csrf_meta_tags %>
</head>
<body class="no-trans">
<div class="scrollToTop"><i class="icon-up-open-big"></i></div>
<div class="page-wrapper">
  <%=render :partial => 'app/header'%>
  <%=render :partial => 'app/breadcrumbs'%>
  <%=yield%>
  <%=render :partial => 'app/footer'%>
</div>
</body>
</html>
