<!DOCTYPE html>
<html>
<head>
  <title>Эпиляция  Казань, косметология Казань</title>
  <meta name="description" content="Центр эпиляции и косметологии Казань" />
  <meta name="keywords" content="эпиляция, косметология, центр красоты, эпиляция казань, косметология казань, центр красоты казань " />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=render 'app/header'%>
<%=render 'app/navbar'%>
<div class="container" id="content-wrapper">
  <div class="row">
    <div class="col-md-12" id="main">
      <%= yield %>
    </div>
  </div>
  <%=render 'app/footer' %>
</div>
<%=render :partial => 'app/modal/recall'%>
</body>
</html>
