<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Администррование</title>

  <%= stylesheet_link_tag    'manager', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <%=render :partial => 'app/manager/nav/left'%>
  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <%=render :partial => 'app/manager/nav/top'%>
    </div>
    <div class="wrapper wrapper-content">
      <%=yield %>
    </div>
    <div class="footer">
      <%=render :partial => 'app/manager/footer'%>
    </div>
  </div>
</div>
<%= javascript_include_tag 'manager', 'data-turbolinks-track' => true %>
</body>
</html>