<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "manager", media: "all" %>
  <%= javascript_include_tag "manager" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" id="private-wrapper">
  <%= render partial: 'manager/shared/navigation'%>
  <div class="row">
    <div class="col-md-12">
        <%= yield %>
    </div>
  </div>
</div>
</body>
</html>