<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <%= stylesheet_link_tag    "v3/controller/#{params[:controller]}", media: "all" %>
  <%= javascript_include_tag "v3/controller/#{params[:controller]}" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>
</head>
<body class="no-trans">
<div class="page-wrapper">
  <%=render :partial => 'app/header'%>
  <section class="main-container" style="padding-top: 0px;">
    <div class="container">
      <%=render :partial => 'shop/shared/cart_top'%>
      <div class="row">
        <div class="col-md-12" style="padding-left: 0px;">
            <%= yield %>
        </div>
      </div>
    </div>
  </section>
  <%=render :partial => 'app/footer'%>
</div>
<%=render :partial => 'app/modal/recall'%>
</body>
</html>
