<%
   meta :title => @expert.profession + ' - ' + @expert.name,
        :description => Sanitize.clean(@expert.content).gsub("\n"," ").truncate(250)
%>
<table id="expert">
  <tr>
    <td class="descrr">
      <div class="page-header">
        <h1><%=@expert.name%></h1>
      </div>
      <% if @expert.content.length > 0 %>
      <img class="ava" src="<%=@expert.photo.url(:medium)%>">
      <%=@expert.content.html_safe%>
      <% end %>
      <div style="clear: both"></div>
      <div id="gallery">
          <% @gallery.each do |image| %>
            <div class="thumbnail">
              <%=link_to image.gsub('public','').gsub('th/',''), :class=> 'photos', :data => {:rel=>'photos'} do %><%= image_tag image.gsub('public','') %><% end %>
            </div>
          <% end %>
      </div>
      <% if @reviews.length > 0 %>
          <div style="clear: both"></div>
          <div class="page-header">
            <h2 class="pull-left">Некоторые отзывы о специалисте</h2>
            <div class="pull-right" style="margin-top: 10px;"><%=link_to 'Все отзывы', responces_path, :class=>"btn btn-default btn-sm" %></div>
            <div style="clear: both"></div>
          </div>
          <% @reviews.each do |review| %>
              <div class="panel review">
                <%=review.content.html_safe%>
                <div style="text-align: right"><%=review.person%></div>
              </div>
          <% end %>
      <% end %>
      <div style="clear: both"></div>
      <%=render :partial => 'app/order'%>
    </td>
    <td class="side">
      <div class="page-header">
        <h2>Образование</h2>
      </div>
      <%=@expert.education.html_safe%>
      <% if 1 == 2 %>
      <div class="page-header">
        <h2>Стаж работы</h2>
      </div>
      <%=@expert.experience.html_safe%>
      <% end %>
      <div class="page-header">
        <h2>Специализация</h2>
      </div>
        <ul>
          <%@expert.services.where('fl_publish = 1').each do |service|%>
            <li><%=link_to service.name, service_path(id:service.id, url:service.url)%></li>
          <% end %>
        </ul>
      <% if @diplomas.length > 0 %>
      <div class="page-header">
        <h2>Дипломы и сертификаты</h2>
      </div>
      <div id="diplomas" data-items="4">
        <ul class="content">
        <% @diplomas.each do |image| %>
            <li><%=link_to image.gsub('public','').gsub('th/',''), :class=> 'diplomas', :data => {:rel=>'diplomas'} do %><%= image_tag image.gsub('public','') %><% end %></li>
        <% end %>
        </ul>
        <% if @diplomas.count > 4 %>
            <div class="page_navigation"></div>
            <div style="clear:both"></div><br>
        <% end %>
      </div>
      <% end %>
    </td>
  </tr>
</table>
