<%
   current_collection = 0
   current_unit = 0
   if @collection != nil
       current_unit = @collection.parent_id
       current_collection = @collection.id
   end
   if @product != nil
       current_collection = @product.category_id
       current_unit = ShopCategory.where('id = ?',current_collection).first.id
   end

%>
<div class="panel panel-default shop-navigation">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#">Спецпредложения</a>
    </h4>
  </div>
  <div id="collapse" class="panel-collapse collapse in">
    <div class="panel-body">
      <ul style="margin-left: 0px;padding-left: 0px;">
        <li><a style="font-size: 1.2em;color: red;" href="<%=shop_best_sellers_path%>">Бестселлеры</a></li>
      </ul>
    </div>
  </div>
</div>
  <%ShopCategory.where('parent_id = 1').each do |category|%>
      <div class="panel panel-default shop-navigation">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=category.id%>"><%=category.name%></a>
          </h4>
        </div>
        <div id="collapse<%=category.id%>" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul style="margin-left: 0px;padding-left: 0px;">
              <%ShopCategory.where('parent_id = ? AND fl_show = 1',category.id).each do |collection|%>
                  <li>
                    <%if current_collection == collection.id %>
                        <span class="current"><%=collection.name%></span>
                    <% else %>
                        <%=link_to shop_collection_path(url:collection.url) do %><%=collection.name%><% end %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
  <% end %>