<%products.each do |product|%>
    <%
        if defined?fl_items
            product = product.product
        end
    %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail shop-product" >
        <%if product.photo? %>
            <%if product.parent_id == 39 %>
               <div class="img-wrapper">
                 <%=image_tag product.photo.url%>
               </div>
            <% else %>
                <div class="img-wrapper-2">
                    <%=image_tag product.photo.url(:thumb)%>
                </div>
            <% end %>
        <% else %>
            <% if product.id < 161 %>
                <%=image_tag "/data/products/#{product.id}.jpg"%>
            <% end %>
        <% end %>
        <div class="product-name">
          <%=link_to product.name.html_safe, shop_product_path({url: product.url})%>
        </div>
        <div class="product-descr">
          <%= (strip_tags product.description).gsub('Описание:','').truncate(60) %>
        </div>
        <div class="product-price">
           <%=product.prices%> <i class="fa fa-rouble"></i>
        </div>
        <div class="product-existance">
           в наличии
        </div>
        <div class="product-action">
          <%=link_to "Подробнее", shop_product_path({url: product.url}), :class=>"btn btn-default btn-sm"%>
        </div>
      </div>
    </div>
<% end %>